.DS_Store
codebook.toml
notes.md
webmentions.json
webmentions-sent.json
_site/
_webmentioncache/
drafts/
node_modules/
Post\ Drafts/
wip/
.cache/
.env
# Local Netlify folder
.netlify/
.obsidian/
.rumdl_cache/
.venv/
.zed/
