# https://stackoverflow.com/a/74240038
# ignore everything
/**/*.*
# *don't* ignore liquid files
!**/*.liquid
# *do* ignore humans.liquid - formatting has to be exact because it's a .txt file
**/humans.liquid
**/indieweb.liquid
