---
layout: blogpostlayout.liquid
root_folder: ../../../..
title: Making Journaling More Enjoyable
description: Coming up with a new system for bullet journaling, as well as the fountain pen inks and paper I'm using
canonical_url: https://reillyspitzfaden.com/posts/2024/06/making-journaling-more-enjoyable
url: posts/2024/06/making-journaling-more-enjoyable
date: 2024-06-04
categories: ["fountainpens", "bujo", "hobbies"]
tags: post
---

<p>Hi everyone! Since February 2023, I've discovered an interest in fountain pens, and I've been using them for <a href="https://en.wikipedia.org/wiki/Bullet_journal">bullet journaling</a>. I've been enjoying it a lot—I've found some really beautiful inks, and my handwriting has gotten significantly less messy—but for a while I felt I was hitting a wall, and it wasn't as enjoyable of an experience as I thought it could be. The other day however, I had another look at some other people's journals, and I made some updates to my system that have made journaling even nicer to do.</p>

<h3>My Previous Issues</h3>
<p>There are a number of features that make something a "bullet" journal, but two of the most important are an index and a key. The index allows you to put everything in one book—it's OK if things are "out of order," or mixed together, since you can find each topic in the index. The key lets you label different kinds of information: to-do lists, thoughts, reminders, etc.</p>

<p>Previously I was using a dot for to-do items and a line for miscellaneous list items (e.g., composition planning), and then throwing everything else in unmarked. What I realized was that I was mostly using the journal as a fancy to-do list, and that made journaling feel like work. If I didn't manage to complete an item, I felt bad. The two things that ended up helping were adding more key symbols and making a purposeful choice to avoid to-do style lists unless absolutely necessary.</p>

<h3>My New System</h3>
<p>My new system (see below) has 5 symbols in the key: to-do; planning (e.g., composition/programming); thoughts and feelings; logging activities I've done; and reminders. The reminders in particular have been nice. Being able to list things I want to do without the intent of crossing them out works better for my brain. I don't feel as pressured to complete the list if there's no visual indication of whether I've completed a task. Also, I find that including symbols for more categories makes those categories feel more "legitimate" and less like an afterthought, as well as making it easier to go back and parse the information. This way, I feel more compelled to write a variety of things other than to-dos, as well as not having that variety of things make my journal look messy.</p>

<img id="bujo_key" src="{{ root_folder }}/media/blog/2024/06/bujo_p9_categories_060224.JPG" alt="The key for my bullet journal, with a dot for to-do; line for planning/projects; slashed 'o' for thoughts/feelings; check for activities; and '+' for reminders" />

<p>An example of this key system in action:</p>

<img id="bujo_spread" src="{{ root_folder }}/media/blog/2024/06/bujo_p10_11_060424.jpg" alt="Two facing pages of my journal, with the verso showing blog planning notes, and the recto showing my June 3 day log" />

<h3>The Writing Tools</h3>

<img id="writing_supplies" src="{{ root_folder }}/media/blog/2024/06/bujo_pens_ink_060424.JPG" alt="A bottle of ink, two fountain pens, and a teal-green A5 journal" />

<p>One thing that's remained constant from the beginning is that the niceness of the inks and paper make it enjoyable. The notebook I have is a <a href="https://www.etsy.com/listing/910203327/a5-tomoe-river-68gsm-180-pgs-cream-white">goodinkpressions</a> notebook with <a href="https://paintspot.ca/art-supplies/artist-paper/japanese-paper-place-washi/awagami-washi-paper/tomoe-river-paper-packs/">Tomoe River</a> paper, which a lot of fountain pen users really like because of how it shows off the shading and character of the ink. </p>

<p>The ink I've been using the most lately is Platinum <a href="https://mountainofink.com/blog/platinum-lavender-black">Lavender Black</a>. It's an <a href="https://en.wikipedia.org/wiki/Iron_gall_ink">iron gall</a> ink—a formula that dates back at least to Pliny the Elder. As the name suggests, when you write with the ink it starts out a rich magenta, and as the iron salts oxidize, it turns a dark reddish black color. It's really cool to watch! In the show <a href="https://en.wikipedia.org/wiki/The_Owl_House">The Owl House</a>, there's a <a href="https://www.youtube.com/watch?v=b3EfQkb6IMs&t=165s">moment</a> where the character Lilith looks bedgraggled and mentally unwell. As she finishes writing some magical glyphs, she giggles and says "watching the ink dry is the best part!" I know she's supposed to be "losing it," but I genuinely feel like that! </p>

<p>Overall I really appreciate how fountain pens turn the act of writing into something a little more ceremonial and leisurely. It makes me slow down for a second and be fully in the moment as I write. The paper has a nice sensation under my hand and against the pen tip, and the inks (plus the flexibility to put any ink I want in the pen) make the experience feel extra fancy.</p>



<style>
    img {
        max-width: 100%;
        height: auto;
    }
    @media screen and (min-width: 760px) {
        #bujo_key {
            max-width: 520px;
        }

        #writing_supplies {
            max-width: 560px;
        }
    }
</style>
