---
layout: mainlayout.liquid
title: Reilly Spitzfaden, Composer
---
<link rel="stylesheet" type="text/css" href="/styles/blog.css">
<link rel="stylesheet" type="text/css" href="/styles/blogposts.css">
<link rel="stylesheet" type="text/css" href="/styles/forms.css">
<link rel="stylesheet" type="text/css" href="/styles/onecolumn.css">

<!-- post contents -->
<article class="h-entry">
    <h1 class="p-name sectionHeader">{{ title }}</h1>

    {% include 'partials/author-and-syndication.liquid' %}

    {%- include 'partials/post-meta.liquid' -%}

    {%- if post_series -%}
        {% include 'partials/post-series-list.liquid' %}
    {%- endif -%}

    {{ content | toc }}

    <div class="e-content">
        {{ content }}
        {%- comment %} BLACK SQUARE FOR STOP {%- endcomment %}
        {%- comment %} <p>&#9632;</p> {%- endcomment %}
        {% if indienews %}
            {% include 'partials/indienews.liquid' %}
        {% endif %}
    </div>
    {%- comment %} <div class="blogPostAsterism"><p>&#x2042;</p></div> {%- endcomment %}
    <div class="blogPostEndText"><p>---END OF TRANSMISSION---</p></div>
    {%- comment %} <div class="post-end-line"></div> {%- endcomment %}
    {% include 'partials/post-interactions.liquid' %}
</article>

{% include 'partials/webmention-form.liquid' %}

{% include 'partials/comment-form.liquid' %}

{% include 'partials/webmention-display.liquid' %}

{% include 'partials/comment-display.liquid' %}

<script>
    const blogPostURL = 'https://reillyspitzfaden.com{{ page.url }}';
</script>
<script defer src="/styles/interactions.js"></script>
