---
layout: mainlayout.liquid
title: Reilly Spitzfaden, Composer
---
<link rel="stylesheet" type="text/css" href="/styles/blog.css" />
<link rel="stylesheet" type="text/css" href="/styles/blogposts.css" />
<link rel="stylesheet" type="text/css" href="/styles/forms.css" />
<link rel="stylesheet" type="text/css" href="/styles/onecolumn.css" />

<!-- page content minus header/footer -->
<main role="main" id="content">
    <!-- post contents -->
    <article class="h-entry">
        <h1 class="p-name sectionHeader">{{ title }}</h1>

        {% comment %} <a rel="author" class="p-author h-card" href="https://reillyspitzfaden.com"></a> {% endcomment %}
        
        {% include "partials/author-and-syndication.liquid" %}
        
        {%- include "partials/post-meta.liquid" -%}

        {%- if post_series -%}
            {% include "partials/post-series-list.liquid" %}
        {%- endif -%}
                
        {{ content | toc }}

        <div class="e-content">
            {{ content }}
            {% if indienews %}
                {% include "partials/indienews.liquid" %}
            {% endif %}
        </div>
        
        {% comment %} <div class="blogPostAsterism"><p>&#x2042;</p></div> {% endcomment %}
        <div class="blogPostEndText"><p>---END OF TRANSMISSION---</p></div>

        {% include "partials/post-interactions.liquid" %}

    </article>
    
    {% comment %} {% include "partials/featured-recent-compact.liquid" %} {% endcomment %}
    
    {% include "partials/webmention-form.liquid" %}
    
    {% include "partials/comment-form.liquid" %}
    
    {% include "partials/webmention-display.liquid" %}
    
    {% include "partials/comment-display.liquid" %}
</main>

<script>
    const blogPostURL = "https://reillyspitzfaden.com{{ page.url }}";
</script>
<script defer src="/styles/interactions.js"></script>
