---
layout: mainlayout.liquid
title: Reilly Spitzfaden, Composer
---
<link rel="stylesheet" type="text/css" href="/styles/blog.css" />
<link rel="stylesheet" type="text/css" href="/styles/blogposts.css" />
<link rel="stylesheet" type="text/css" href="/styles/forms.css" />
<link rel="stylesheet" type="text/css" href="/styles/onecolumn.css" />

<!-- page content minus header/footer -->
<main role="main" id="content">
    <!-- post contents -->
    <article class="h-entry">
        <h2 class="p-name sectionHeader">{{ title }}</h2>

        <a rel="author" class="p-author h-card" href="https://reillyspitzfaden.com"></a>
        {%- for url in fedi_url %}
            <a rel="syndication" class="u-syndication" href="{{ url }}"></a>
        {%- endfor %}
        
        {%- include "partials/post-meta.liquid" -%}

        <div class="e-content">
            {%- if post_series -%}
                {% include "partials/post-series-list.liquid" %}
            {%- endif -%}
            {{ content }}
        </div>
        
        <div class="blogPostAsterism"><p>&#x2042;</p></div>

        {% include "partials/post-interactions.liquid" %}

    </article>
    
    <article>
        <div class="webmentionForm">
            <form id="webmention-form" action="https://webmention.io/reillyspitzfaden.com/webmention" method="POST">
                <h2 class="sectionHeader">Send me a webmention</h2>
                <p>
                    <label for="webmention-form">This post accepts <a href="https://en.wikipedia.org/wiki/Webmention">webmentions</a>. If you link to and write about this on your website, you can enter the web address of your post below:</label>
                </p>

                <input id="webmention-source" type="url" autocomplete="url" required="" pattern="^https?:\/\/(.*)" name="source" placeholder="URL/Permalink of your article" class="error" aria-invalid="true">
                
                <input id="webmention-submit" type="submit" name="submit" value="Ping me!">

                <input id="webmention-format" type="hidden" name="format" value="html">
                <input id="webmention-target" type="hidden" name="target" value="">
            </form>
        </div>
            
        <div class="commentSection">
            <form id="comment-form" name="comments" action="" method="POST">
                <h2 class="sectionHeader">Leave a comment</h2>
                <fieldset>
                    <legend>Comment</legend>
                    <ul>
                        <li><input type="text" name="name" id="comment-name" placeholder="Name (required)" class="textinput" required="true" aria-required="true"></li>
                        <li><input type="text" name="email" id="comment-email" placeholder="Email (optional)" class="textinput"></li>
                        <li><textarea name="comment" id="comment-story" placeholder="Comment (required)" required="true" aria-required="true"></textarea></li>
                        <li><div id="submit-success"></div><input type="submit" value="Submit" id="submit-comment" ></li>
                    </ul>
                </fieldset>
            </form>
            <div id="commentDisplay">
                <h2 class="sectionHeader">Comments</h2>
                <input type="submit" id="load-comments" value="Load Comments">
                <div id="comment-section"></div>
            </div>
        </div>
    </article>
</main>

<script>
    let blogPostURL = "{{ canonical_url }}";
</script>
<script src="/styles/interactions.js"></script>
