---
layout: mainlayout.liquid
title: Reilly Spitzfaden, Composer
---
<link rel="stylesheet" type="text/css" href="/styles/blogposts.css" />
<link rel="stylesheet" type="text/css" href="/styles/onecolumn.css" />

<main>
    <!-- post contents -->
    <article class="h-entry" data-pagefind-body>
        <a rel="author" class="p-author h-card" href="https://reillyspitzfaden.com"></a>

        {% include "partials/post-meta.liquid" %}

        <div class="e-content">
            {% comment %} code for 'like' {% endcomment %}
            {% if tags contains 'like'%}
                {% liked liked_url liked_title %}
            {% elsif tags contains 'rsvp' %}
                <p class="p-summary">
                    <a href="https://reillyspitzfaden.com" class="p-author h-card">Reilly Spitzfaden</a>
                    RSVPs <data class="p-rsvp" value="yes">yes</data> 
                    to <a href="{{ dest_url }}" class="u-in-reply-to">{{ dest_title }}</a>
                </p>
            {% endif %}
        </div>

        {% include "partials/post-interactions.liquid" %}

    </article>
</main>

<script>
    var blogPostURL = "{{ canonical_url }}";
</script>
<script src="/styles/interactions.js"></script>
