---
layout: mainlayout.liquid
title: Reilly Spitzfaden, Composer
---
<link rel="stylesheet" type="text/css" href="/styles/blogposts.css" />
<link rel="stylesheet" type="text/css" href="/styles/onecolumn.css" />

<main role="main" id="content">
    <!-- post contents -->
    <article class="h-entry">
        <a rel="author" class="p-author h-card" href="https://reillyspitzfaden.com"></a>
        {%- for url in fedi_url -%}
            <a rel="syndication" class="u-syndication" href="{{ url }}"></a>
        {%- endfor -%}
        
        {% include "partials/post-meta.liquid" %}

        <div class="e-content">
            {% include "partials/interactions-display.liquid" %}
            {{ content }}
        </div>

        {% include "partials/post-interactions.liquid" %}

    </article>
</main>

<script>
    const blogPostURL = "https://reillyspitzfaden.com{{ post.url }}";
</script>
<script src="/styles/interactions.js"></script>
