---
layout: mainlayout.liquid
title: Reilly Spitzfaden, Composer
---
<link rel="stylesheet" type="text/css" href="/styles/blog.css">
<link rel="stylesheet" type="text/css" href="/styles/blogposts.css">
<link rel="stylesheet" type="text/css" href="/styles/forms.css">
<link rel="stylesheet" type="text/css" href="/styles/onecolumn.css">

<!-- post contents -->
<article class="h-entry">
    {% include 'partials/author-and-syndication.liquid' %}

    {% include 'partials/post-meta.liquid' %}

    <div class="e-content">
        {% include 'partials/interactions-display.liquid' %}
        {{ content }}
    </div>

    {% include 'partials/post-interactions.liquid' %}
</article>

{% include 'partials/webmention-form.liquid' %}

{% include 'partials/comment-form.liquid' %}

{% include 'partials/webmention-display.liquid' %}

{% include 'partials/comment-display.liquid' %}

<script>
    const blogPostURL = 'https://reillyspitzfaden.com{{ page.url }}';
</script>
<script defer src="/styles/interactions.js"></script>
