---
layout: mainlayout.liquid
title: Reilly Spitzfaden, Composer
---
<link rel="stylesheet" type="text/css" href="/styles/blogposts.css" />
<link rel="stylesheet" type="text/css" href="/styles/forms.css" />
<link rel="stylesheet" type="text/css" href="/styles/onecolumn.css" />

<main role="main" id="content">
    <!-- post contents -->
    <article class="h-entry">
        {% comment %} <a rel="author" class="p-author h-card" href="https://reillyspitzfaden.com"></a> {% endcomment %}
        
        {% include "partials/author-and-syndication.liquid" %}
        
        {% include "partials/post-meta.liquid" %}

        <div class="e-content">
            {% include "partials/interactions-display.liquid" %}
            {{ content }}
        </div>

        {% include "partials/post-interactions.liquid" %}

    </article>

    {% comment %} {% include "partials/featured-recent-compact.liquid" %} {% endcomment %}

    {% include "partials/webmention-form.liquid" %}

    {% include "partials/webmention-display.liquid" %}

</main>

<script>
    const blogPostURL = "https://reillyspitzfaden.com{{ page.url }}";
</script>
<script defer src="/styles/interactions.js"></script>
