---
layout: mainlayout.liquid
title: Reilly Spitzfaden, Composer
---
<link rel="stylesheet" type="text/css" href="/styles/blogposts.css" />
<link rel="stylesheet" type="text/css" href="/styles/onecolumn.css" />

<main>
    <!-- post contents -->
    <article class="h-entry" data-pagefind-body>
        <a rel="author" class="p-author h-card" href="https://reillyspitzfaden.com"></a>

        {% include "partials/post-meta.liquid" %}

        <div class="e-content">
            {{ content }}
            {% comment %} <div class="dinkus"><p>***</p></div> {% endcomment %}
        </div>

        {% include "partials/post-interactions.liquid" %}

    </article>
</main>

<script>
    var blogPostURL = "{{ canonical_url }}";
</script>
<script src="/styles/interactions.js"></script>
