<?xml version="1.0" encoding="utf-8"?>
<?xml-stylesheet type="text/xsl" href="/styles/rss-styles.xsl"?>
<rss version="2.0" 
    xmlns:atom="http://www.w3.org/2005/Atom"
    xmlns:content="http://purl.org/rss/1.0/modules/content/"
    xmlns:source="https://source.scripting.com/"
    >
  <channel>
    <title>{{ metadata.title }}</title>
    <link>{{ metadata.url }}</link>
    <description>{{ metadata.subtitle }}</description>
    <language>en-us</language>
    <pubDate>Sat, 9 Mar 2024 00:00:00 GMT</pubDate>
    <lastBuildDate>{{ collections[collection.name] | getNewestCollectionItemDate | dateToRfc822 }}</lastBuildDate>
    <docs>https://www.rssboard.org/rss-specification</docs>
    <managingEditor>{{ metadata.author.email }} ({{ metadata.author.name }})</managingEditor>
    <webMaster>{{ metadata.author.email }} ({{ metadata.author.name }})</webMaster>
    <atom:link href="{{ metadata.feedUrl }}" rel="self" type="application/rss+xml"/>
    <source:blogroll>https://reillyspitzfaden.com/blogroll.opml</source:blogroll>
    {% for post in collections[collection.name] | reverse -%}
      {%- if (loop.index0 < 20) %}
        {% set absolutePostUrl %}{{ post.url | url | absoluteUrl(metadata.url) }}{% endset %}
        {%- set headerHTML -%}

          {% set tags = post.data.tags %}
          {% set target_url = post.data.target_url %}
          {% set target_title = post.data.target_title %}
          
          {%- for tag in tags -%}
            {%- if tag === "interaction" -%}
              {%- include "partials/interactions-display.liquid" -%}
            {% elseif tag === "digital-garden" %}
              {%- include "partials/digital-garden-description.html" -%}
            {%- endif -%}
          {%- endfor -%}

        {%- endset -%}
        {%- set contactInfo -%}<p><a href="mailto:reillypascal@gmail.com?subject=Re: '{{ post.data.title }}'">Reply via email</a> :: <a href="https://reillyspitzfaden.com/feeds/">Subscribe to my other feeds</a> :: <a href="https://ko-fi.com/reillyspitzfaden">Buy me a coffee</a></p>{%- endset -%}
        {%- set finalHTMLContent = [headerHTML, post.templateContent, contactInfo] | join -%}
          <item>
            <title>{{ post.data.title }}</title>
            <author>{{ metadata.author.email }} ({{ metadata.author.name }})</author>
            <link>{{ absolutePostUrl }}</link>
            <guid>{{ absolutePostUrl }}</guid>
            <pubDate>{{ post.date | dateToRfc822 }}</pubDate>
            <description>{{ post.data.description }}</description>
            <content:encoded>
            {{ finalHTMLContent | sanitizeHTML(finalHTMLContent) | htmlToAbsoluteUrls(absolutePostUrl) }}
            </content:encoded>
          </item>
      {%- endif %}
    {%- endfor -%}
  </channel>
</rss>