---json
{
  "permalink": "/feed.xml",
  "eleventyExcludeFromCollections": true,
  "collection": {
    "name": "all",
    "limit": 0
  },
  "metadata": {
    "language": "en",
    "title": "Reilly Spitzfaden | All",
    "subtitle":
        "All blog posts, notes, likes, and photos on my site",
    "feedUrl": "https://reillyspitzfaden.com/feed.xml",
    "url": "https://reillyspitzfaden.com/",
    "author": {
        "name": "Reilly Spitzfaden",
        "email": "reillypascal@gmail.com"
    }
  }
}
---
{%- include "rss.njk" %}