---json
{
  "permalink": "/notes/feed.xml",
  "eleventyExcludeFromCollections": true,
  "collection": {
    "name": "note",
    "limit": 0
  },
  "metadata": {
    "language": "en",
    "title": "Reilly Spitzfaden, Composer",
    "subtitle":
        "Short posts, thoughts, and interesting things from around the web — it's like Twitter but I own all my posts!",
    "feedUrl": "https://reillyspitzfaden.com/notes/feed.xml",
    "url": "https://reillyspitzfaden.com/notes",
    "author": {
        "name": "Reilly Spitzfaden",
        "email": "reillypascal@gmail.com"
    }
  }
}
---
{%- include "rss.njk" %}