<div hidden>
    <a rel="author" class="p-author h-card" href="https://reillyspitzfaden.com">
        <img class="u-photo" src="https://reillyspitzfaden.com/media/headshot_gbc_kirby_300px.jpg" alt="Reilly Spitzfaden">
        <span class="p-name">
            <span class="p-given-name">Reilly</span>
            <span class="p-family-name">Spitzfaden</span>
        </span>
    </a>
    {%- for url in fedi_url %}
        <a rel="syndication" class="u-syndication" href="{{ url }}"></a>
    {%- endfor %}
</div>
