<div class="commentSection">
    <form id="comment-form" name="comments" action="" method="POST">
        <h2 class="sectionHeader">Leave a comment</h2>
        <fieldset>
            <legend>Comment</legend>
            <ul>
                <li><input type="text" name="name" id="comment-name" placeholder="Name (required)" class="textinput" required="true" aria-required="true"></li>
                <li><input type="text" name="email" id="comment-email" placeholder="Email (optional)" class="textinput"></li>
                <li><textarea name="comment" id="comment-story" placeholder="Comment (required)" required="true" aria-required="true"></textarea></li>
                <li><div id="submit-success"></div><input type="submit" value="Submit" id="submit-comment" ></li>
            </ul>
        </fieldset>
    </form>
    <div id="commentDisplay">
        <h2 class="sectionHeader">Comments</h2>
        <input type="submit" id="load-comments" value="Load Comments">
        <div id="comment-section"></div>
    </div>
</div>