<article class="featuredRecentCompact">
    <section>
        <h2 class="sectionHeader">Featured Posts</h2>
        {%- for item in collections.post reversed %}
            {%- if item.data.featured %}
                <p><a href="{{item.url}}">{{ item.data.title }}</a></p>
            {%- endif %}
        {%- endfor %}
    </section>
    
    <section>
        <h2 class="sectionHeader">Recent Posts</h2>
        {% assign recent_posts = collections.post | slice: -3, 3 %}
        {%- for item in recent_posts reversed %}
            <p><a href="{{item.url}}">{{ item.data.title }}</a></p>
        {%- endfor %}
    </section>
</article>