<p>
    <span class="rss-icon">
        <img width="18" height="18" src="/media/rss-icon-light.svg" alt="rss icon">
    </span>
    <a href="/feeds">All RSS Feeds</a>
</p>
<p>
    <span class="tag-icon">
        <img width="18" height="18" src="/media/ui/tag-icon-solid-18px.svg" alt="tags icon">
    </span>
    <a href="/tags">All Tags</a>
</p>
<p>
    <span class="search-icon">
        <img width="18" height="18" src="/media/ui/search-icon-18px.svg" alt="search icon">
    </span>
    <a href="/search">Search Site</a>
</p>
