<p>
    <span class="rss-icon">
        <img width="18" height="18" src="/media/rss-icon-light.svg" alt="rss icon" />
    </span>
    <a href="/feeds">All RSS Feeds</a>
</p>
<p>
    <span class="tag-icon">
        <img width="18" height="18" src="/media/ui/tag-icon-solid-18px.svg" alt="tags icon" />
    </span>
    <a href="/tags">All Tags</a>
</p>