<div class="webmentionForm">
    <h2 class="sectionHeader">Send Me a Webmention</h2>

    <form id="webmention-form" action="https://webmention.io/reillyspitzfaden.com/webmention" method="POST">
        <p>
            <label for="webmention-form">This post accepts <a href="https://en.wikipedia.org/wiki/Webmention">webmentions</a>. If you link to and write about this on your website, you can enter the web address of your post in this field. Mentions will appear below (updated about once daily).</label>
        </p>

        <input id="webmention-source" type="url" autocomplete="url" required="" pattern="^https?:\/\/(.*)" name="source" placeholder="URL/Permalink of your article" class="error" aria-invalid="true">
        
        <input id="webmention-submit" type="submit" name="submit" value="Ping me!">

        <input id="webmention-format" type="hidden" name="format" value="html">
        <input id="webmention-target" type="hidden" name="target" value="">
    </form>
</div>