---
layout: mainlayout.liquid
title: Digital Garden
description: 
permalink: /digital-garden/
draft: true
---
<link rel="stylesheet" type="text/css" href="/styles/onecolumn.css" />

<main role="main" id="content">

<h2 class="sectionHeader">Digital Garden</h2>
<p>I have seen a number of people around the IndieWeb circles experimenting with “digital gardens” on their sites. Maggie Appleton, for example, <a href="https://maggieappleton.com/garden-history/">comments that</a></p>

<blockquote>Rather than presenting a set of polished articles, displayed in reverse chronological order, these sites act more like free form, work-in-progress wikis.</blockquote>

<blockquote>A garden is a collection of evolving ideas that aren’t strictly organised by their publication date. They’re inherently exploratory &mdash; notes are linked through contextual associations. They aren’t refined or complete &mdash; notes are published as half-finished thoughts that will grow and evolve over time.</blockquote>

<p>I will be using this section of my website to write about ongoing reading, research, coding, and other activities, as well as sharing tutorials on coding and music topics. This will allow me to revisit past writing and do my thinking in public. Pages here will be continual works in progress.</p>

<section>
    <h2 class="sectionHeader">Pages</h2>
    
    <a href="/digital-garden/tutorials/how-to-set-up-webmentions/">How to Set Up, Parse, and Display Webmentions</a>

    {% comment %} <a href="/digital-garden/reading/glitch-art-reading/">Glitch Art Reading</a> {% endcomment %}
</section>

</main>