---
layout: mainlayout.liquid
title: Reilly Spitzfaden | Bio & CV
description: Reilly Spitzfaden is a composer who likes noise, code, electronics, and nostalgia.
canonical_url: https://reillyspitzfaden.com/bio
styles:
    - onecolumn.css
---
<link rel="stylesheet" type="text/css" href="/styles/onecolumn.css" />

<style>
    .headshot {
        margin: 4px 8px 8px 0;
        float: left;
        max-width: 128px;
        height: auto;
        aspect-ratio: 1;
    }
    
    @media screen and (min-width: 480px) {
        .headshot {
            margin-right: 24px;
            max-width: 192px;
        }
    }
</style>
<main>
    <article class="textBlock">
        <h2 class="sectionHeader">Bio</h2>
        <!-- head shot - maybe glitch up? -->
        <!-- <img class="headshot" src="../media/profile-200px.png" alt="Reilly’s face in profile" 
            srcset="../media/profile/profile-100px.png 100w,
            ../media/profile-200px.png 200w,
            ../media/profile-400px.png 400w"
            sizes="(max-width: 480px) 33vw,
            (max-width: 960px) 25vw,
            200px"> -->
        <img class="headshot" src="/media/headshot_gbc_kirby_256px.png" alt="Reilly's face in profile, looking like it was taken on a GameBoy camera" >
        <p>Reilly Spitzfaden (they/them) is a composer who likes noise, code, electronics, and nostalgia. They build handmade electronic instruments, design interactive software interfaces, and repurpose audio and telecommunications equipment as instruments.</p> 
        <p>Reilly's recordings appear on Apply Triangle’s release <cite><a href="https://applytriangle.bandcamp.com/album/oxalis-triangularis-vol-2">Oxalis Triangularis: Vol. 2</a></cite>; <cite><a href="https://howthingsaremade.bandcamp.com/album/htam-s3e02">How Things Are Made, S3E02</a></cite>; in the Media Sandbox and Michigan State University Department of Theatre film <cite><a href="https://vimeo.com/173638277">(313) Choices</a></cite>; and on the recording <cite><a href="https://msucomp.bandcamp.com/album/statements">Statements</a></cite> with the Michigan State University composition studio. Reilly’s compositions have been performed at the Darmstädter Ferienkurse and the TaPIR Lab, and by the Eastman BroadBand, members of ensemble mise-en, the Amaranth Quartet, OSSIA New Music, and How things are made.</p>
        <p>Reilly is currently a lecturer in music technology, film scoring, and music business at SUNY Geneseo. They hold a PhD in composition from the Eastman School of Music where they studied with Ricardo Zohn-Muldoon, David Liptak, and Oliver Schneller; an MA in composition from Eastman, where they studied with Robert Morris and Carlos Sanchez-Gutierrez; and a BM in composition from Michigan State University.</p>
    </article>

    <h2><a href="../documents/spitzfaden-CV-2024.pdf">CV</a></h2>
</main>
