---
permalink: /blogroll.opml
layout: false
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="ISO-8859-1"?>
<opml version="2.0">
    <head>
        <title>RSS Feeds for Reilly Spitzfaden's Blogroll</title>
        <dateCreated>{{ page.date | dateToRfc822 }}</dateCreated>
        <ownerName>Reilly Spitzfaden</ownerName>
        <ownerId>https://reillyspitzfaden.com</ownerId>
    </head>
    <body>
        {%- for category in blogroll -%}
            {%- for site in category.blogs -%}
                <outline text="{{ site.title }}" title="{{ site.title }}" type="rss" xmlUrl="{{ site.xmlUrl }}" htmlUrl="{{ site.htmlUrl }}"/>
            {% endfor %}
        {%- endfor -%}
    </body>
</opml>