---
layout: mainlayout.liquid
title: Reilly Spitzfaden, Composer | Downloads
description: Download Reilly Spitzfaden's Max/MSP patches and other performance materials
---
<link rel="stylesheet" type="text/css" href="/styles/onecolumn.css" />

<main role="main" id="content">
    <h2 class="sectionHeader">Max/MSP Patches</h2>
    
    <article>
            <p><i>Reach Through</i> <a href="https://github.com/reillypascal/reach-through">performance patch</a></p>

            <p><i>Outlive everything you know</i> <a href="https://github.com/reillypascal/outlive">performance patch</a></p>

            <p><i>Everything lost along the way</i> <a href="https://github.com/reillypascal/everythinglost">performance patch</a></p>

            <p><i>Afterimage from</i> <a href="https://github.com/reillypascal/afterimage">performance patch</a></p>

            <p><i>If this reaches you</i> <a href="https://github.com/reillypascal/ifthisreachesyou">performance patch</a></p>
    </article>
</main>

