---
layout: mainlayout.liquid
title: Reilly Spitzfaden, Composer | Feeds
description: List of RSS feeds
canonical_url: https://reillyspitzfaden.com/feeds
eleventyExcludeFromCollections: true
---
<link rel="stylesheet" type="text/css" href="/styles/onecolumn.css" />


<main>
    <article>
        <h2 class="sectionHeader">RSS Feed Links</h2>
        
        <p>Feed of <a href="https://reillyspitzfaden.com/feed.xml">all posts on this site</a></p>
        <p>Feed of <a href="https://reillyspitzfaden.com/blog/feed.xml">just my blog posts</a></p>
        <p>Feed of <a href="https://reillyspitzfaden.com/notes/feed.xml">just my notes</a></p>
        <p>Feed of <a href="https://reillyspitzfaden.com/interactions/feed.xml">just my interactions</a></p>
    </article>

    <article id="what-is-rss">
        <h2 class="sectionHeader">What Is RSS?</h2>
        <p>I love <a href="https://en.wikipedia.org/wiki/RSS">RSS</a>! RSS is the classic way of following a blog or other feed, and it's the technology behind podcasts. An RSS feed is just a simple text file that contains a list of posts, including the post title, author, content, etc. When you open the link to this file in an <a href="https://en.wikipedia.org/wiki/News_aggregator">RSS reader program</a>, you can view all this information and read the posts conveniently and cleanly, and keep track of as many blogs, news sites, etc. as you want. I find it's <a href="https://reillyspitzfaden.com/posts/2024/03/rss-is-nice/">a nice way to see only the things you want</a> and avoid the algorithms of many social media sites.</p>

        <p>For desktop RSS readers, I use <a href="https://netnewswire.com/">NetNewsWire</a> on macOS, <a href="https://apps.gnome.org/NewsFlash/">Newsflash</a> on Linux, and I've heard good things about <a href="https://github.com/yang991178/fluent-reader">Fluent Reader</a> on Windows. For mobile, I use <a href="https://capyreader.com/">Capy Reader</a> on Android, and I've previously enjoyed <a href="https://netnewswire.com/">NetNewsWire</a> on iOS.</p>
    </article>

</main>
