---
layout: mainlayout.liquid
title: Reilly Spitzfaden, Composer | Feeds
description: List of RSS feeds
---
<link rel="stylesheet" type="text/css" href="/styles/onecolumn.css" />


<main role="main" id="content">
    <article>
        <h2 class="sectionHeader">RSS Feed Links</h2>
        
        <p>Feed of <a href="/feed.xml">all posts on this site</a> &mdash; all feeds listed below, plus my “<a href="/digital-garden">digital garden</a>” of notes, tutorials, and other materials I return to and develop.</p>
        <p>Feed of <a href="/blog/feed.xml">just my blog posts</a> — mostly projects, hobbies, and technical writing</p>
        <p>Feed of <a href="/notes/feed.xml">just my notes</a> — photoblogging, daily life, and miscellaneous short posts</p>
        <p>Feed of <a href="/interactions/feed.xml">just my interactions</a> — <a href="https://indieweb.org/">IndieWeb</a> likes, RSVPs, replies, etc.</p>
    </article>

    <article id="what-is-rss">
        <h2 class="sectionHeader">What Is RSS?</h2>
        <p><a href="https://en.wikipedia.org/wiki/RSS">RSS</a> is the classic way of following a blog or other feed, it's the technology behind podcasts, and it's my favorite way to follow things. An RSS feed is just a simple text file that contains a list of posts, including the post title, author, content, etc. When you open the link to this file in an <a href="https://en.wikipedia.org/wiki/News_aggregator">RSS reader program</a>, you can view all this information and read the posts conveniently and cleanly, and keep track of as many blogs, news sites, etc. as you want. I find it's <a href="/posts/2024/03/rss-is-nice/">a nice way to see only the things you want</a> and avoid the algorithms of many social media sites.</p>

        <p>For desktop RSS readers, I use <a href="https://netnewswire.com/">NetNewsWire</a> on macOS, <a href="https://apps.gnome.org/NewsFlash/">Newsflash</a> on Linux, and I've heard good things about <a href="https://github.com/yang991178/fluent-reader">Fluent Reader</a> on Windows. For mobile, I use <a href="https://capyreader.com/">Capy Reader</a> on Android, and I've previously enjoyed <a href="https://netnewswire.com/">NetNewsWire</a> on iOS.</p>
    </article>

</main>
