---
title: Reilly Spitzfaden, Composer
description: I'm Reilly Spitzfaden, a composer who likes noise, code, electronics, and nostalgia. This site has my music, Max/MSP patches, code, blog, and more.
canonical_url: https://reillyspitzfaden.com/
---
<!-- page content minus header/footer -->
<div class="content">
    <!-- recent events -->
    <div id="mainRecent">
        <h2 id="recentHeader">Featured</h2>
        <div id="recent">
            
            <h3><a href="https://applytriangle.bandcamp.com/track/if-this-reaches-you">My piece <cite>If this reaches you</cite> is on Apply Triangle's new album <cite>Oxalis Triangularis, Vol: 2</cite></a></h3>
            
            <div class="mediaQuoteBlock">
                <blockquote class="mediaQuote">...a retro-futuristic vibe with electronic samples from distorted fax machines, maritime radios and walkie-talkies...</blockquote>
                <p><cite class="mediaQuoteSource">&mdash;<a href="https://icareifyoulisten.com/2024/04/5-questions-to-apply-triangle/">I Care If You Listen</a></cite></p>
            </div>
            
            <hr />

            <div class="gridContainingBlock">
                <h3><a href="https://www.youtube.com/watch?v=YtSerbT7C5A">Premiere of a commission for the University of Toronto's TaPIR Lab</a></h3>
                <div class="gridVideoWrapper">
                    <lite-youtube videoid="YtSerbT7C5A" style="background-image: url('https://i.ytimg.com/vi/YtSerbT7C5A/hqdefault.jpg');">
                        {% comment %} <a href="https://www.youtube.com/watch?v=YtSerbT7C5A" class="lty-playbtn" title="Play Video">
                            <span class="lyt-visually-hidden">Play Video: Reilly Spitzfaden - Reach Through</span>
                        </a> {% endcomment %}
                    </lite-youtube>
                </div>
            </div>

            <div class="gridContainingBlock">
                <h3><a href="https://www.youtube.com/watch?v=Y_inKSy9K0k">Part of my Eastman PhD dissertation was featured on Score Follower</a></h3>
                <div class="gridVideoWrapper">
                    <lite-youtube videoid="Y_inKSy9K0k" style="background-image: url('https://i.ytimg.com/vi/Y_inKSy9K0k/hqdefault.jpg');">
                    </lite-youtube>
                </div>
            </div>

        <!-- close recent -->
        </div>
    <!-- close "mainRecent" -->
    </div>
<!-- close "content" -->
</div>
