---
layout: mainlayout.liquid
title: Reilly Spitzfaden, Composer
description: I'm Reilly Spitzfaden, a composer who likes noise, code, electronics, and nostalgia. This site has my music, Max/MSP patches, code, blog, and more.
canonical_url: https://reillyspitzfaden.com/
---

<!-- h-card (hidden) -->
<div class="h-card">
    <img class="u-photo" src="/media/headshot_gbc_kirby_512px.png" loading="lazy"/><br />
    <a class="p-name u-url" rel="me" href="https://reillyspitzfaden.com/">Reilly Spitzfaden</a><br />
    <p class="p-note">Composer and audio programmer who likes noise, code, electronics, and nostalgia // they/them</p>
</div>

<main>
    <!-- left column: about, featured -->
    <div id="column-left">
        <h2 class="sectionHeader">About</h2>
        <article>
            <p id="about-p">Hi, I'm <span id="about-name">Reilly Spitzfaden</span>! I'm a composer and programmer who likes noise, obsolete media, electronics, and nostalgia.</p>
        </article>
        
        <h2 class="sectionHeader">Featured</h2>
        
        <article>
            <h3><a href="https://applytriangle.bandcamp.com/track/if-this-reaches-you"><cite>If this reaches you</cite></a></h3>
            
            <p>My piece <cite>If this reaches you</cite> is on Apply Triangle's new album <cite>Oxalis Triangularis</cite>. I was one of the composers selected in the group's <a href="https://applytriangle.com/call_for_scores_2020.html">call for scores</a> in 2020, and the <a href="https://applytriangle.com/oxalis_triangularis.html">album</a> came out on April 12, 2024. It's a 3-CD release, and my piece is on <a href="https://applytriangle.bandcamp.com/album/oxalis-triangularis-vol-2">volume 2</a>.</p>
            
            <p>Contemporary classical magazine <cite>I Care If You Listen</cite> did an <a href="https://icareifyoulisten.com/2024/04/5-questions-to-apply-triangle/">intervew</a> with the group, and described my piece as having
            <blockquote class="mediaQuote">...a retro-futuristic vibe with electronic samples from distorted fax machines, maritime radios and walkie-talkies...</blockquote>
            
            <p>I also wrote a <a href="https://reillyspitzfaden.com/posts/2024/04/new-album-announcement/">blog post</a> about composing the piece.</p>
                
            <img src="/media/at-oxalis-2.webp" alt="" /></br>
            {% comment %} <i>Cover for <cite>Oxalis Triangularis, Volume 2</cite></i> {% endcomment %}
        </article>
        
        {% comment %} <hr /> {% endcomment %}
        
        <article>
            
            <h3><a href="https://www.youtube.com/watch?v=YtSerbT7C5A"><cite>Reach Through</cite></a></h3>
            
            <p>The TaPIR Lab at the University of Toronto commissioned me for the 2023 <a href="https://tapirlab.music.utoronto.ca/composers/">Composer in Residence</a> Concert. I wrote for percussion quartet, with each performer using the accelerometer/gyroscope data from a mobile phone to trigger and control sounds in Max/MSP.</p>
            
            <p>Here is the premiere of <cite>Reach Through</cite> at Array Space in Toronto.</p>
            
            <div class="gridVideoWrapper">
                <lite-youtube videoid="YtSerbT7C5A" style="background-image: url('https://i.ytimg.com/vi/YtSerbT7C5A/hqdefault.jpg');">
                    {% comment %} <a href="https://www.youtube.com/watch?v=YtSerbT7C5A" class="lty-playbtn" title="Play Video">
                        <span class="lyt-visually-hidden">Play Video: Reilly Spitzfaden - Reach Through</span>
                    </a> {% endcomment %}
                </lite-youtube>
            </div>
        </article>
        
        {% comment %} <hr/> {% endcomment %}
        
        <article>
            <h3><a href="https://www.youtube.com/watch?v=Y_inKSy9K0k"><cite>Afterimage from</cite></a></h3>
            
            <p>Part of my Eastman PhD dissertation was featured on <a href="https://www.scorefollower.org/">Score Follower</a>. I composed a set of three pieces using MIDI keyboards and Max/MSP. Some of the keyboard range plays electric piano sounds &mdash; in this one, I used <a href="https://asb2m10.github.io/dexed/">Dexed</a> to emulate the classic 80s Yamaha DX7 "E.PIANO 1" sound, with the tuning set to a subset of <a href="https://en.xen.wiki/w/19edo">19-edo</a>. Other parts of the keyboard play samples or trigger noise synthesizers.</p> 
            
            <p>The cellist uses a MIDI foot pedal to control a "wah-wah" effect, shaping feedback between the cello's pickup and a small amplifier.</p>
            
            <div class="gridVideoWrapper">
                <lite-youtube videoid="Y_inKSy9K0k" style="background-image: url('https://i.ytimg.com/vi/Y_inKSy9K0k/hqdefault.jpg');">
                </lite-youtube>
            </div>
        </article>
    </div>
    
    <div id="column-right">
        <h2 class="sectionHeader">Recently Updated</h2>
        
        <div id="recentContainer">
        
            <div id="recentImg"></div>
            
            <div id="recentItems">
                {% assign recent_posts = collections.post | slice: -3, 3 %}
                {% for item in recent_posts reversed %}
                
                <section>
                    <h3><a href="{{item.url}}">{{ item.data.title }}</a></h3>
                    <p>{{ item.data.description }}</p>
                </section>
                
                <div class="dinkus"><p>***</p></div>
                
                {% endfor %}
            </div>
        </div>
    </div>
</main>

<link rel="stylesheet" type="text/css" href="/styles/index.css" />
