---
title: Reilly Spitzfaden, Composer
description: I'm Reilly Spitzfaden, a composer who likes noise, code, electronics, and nostalgia. This site has my music, Max/MSP patches, code, blog, and more.
canonical_url: https://reillyspitzfaden.com/
---
<main>
    <!-- recent events -->
    <div id="featured">
        <h2 id="featuredHeader">Featured</h2>
        
        <article>
            <h3><a href="https://applytriangle.bandcamp.com/track/if-this-reaches-you"><cite>If this reaches you</cite></a></h3>
            
            <p>My piece <cite>If this reaches you</cite> is on Apply Triangle's new album <cite>Oxalis Triangularis</cite>. I was one of the composers selected in the group's <a href="https://applytriangle.com/call_for_scores_2020.html">call for scores</a> in 2020, and the <a href="https://applytriangle.com/oxalis_triangularis.html">album</a> came out on April 12, 2024. It's a 3-CD release, and my piece is on <a href="https://applytriangle.bandcamp.com/album/oxalis-triangularis-vol-2">volume 2</a>.</p>
            
            <p>Contemporary classical magazine <cite>I Care If You Listen</cite> did an <a href="https://icareifyoulisten.com/2024/04/5-questions-to-apply-triangle/">intervew</a> with the group. Reviewer <a href="https://icareifyoulisten.com/author/christiank/">Christian Kriegeskotte</a> described my piece as having
            <blockquote class="mediaQuote">...a retro-futuristic vibe with electronic samples from distorted fax machines, maritime radios and walkie-talkies...</blockquote>
            
            <p>I also wrote a <a href="https://reillyspitzfaden.com/posts/2024/04/new-album-announcement/">blog post</a> about composing the piece.</p>
                
            <img src="/media/at-oxalis-2.webp" alt="" /></br>
            <!-- <i>Cover for <cite>Oxalis Triangularis, Volume 2</cite></i> -->
        </article>
        <hr />
        <article>
            
            <h3><a href="https://www.youtube.com/watch?v=YtSerbT7C5A"><cite>Reach Through</cite></a></h3>
            
            <p>Premiere of a commission for the University of Toronto's TaPIR Lab</p>
            
            <div class="gridVideoWrapper">
                <lite-youtube videoid="YtSerbT7C5A" style="background-image: url('https://i.ytimg.com/vi/YtSerbT7C5A/hqdefault.jpg');">
                    {% comment %} <a href="https://www.youtube.com/watch?v=YtSerbT7C5A" class="lty-playbtn" title="Play Video">
                        <span class="lyt-visually-hidden">Play Video: Reilly Spitzfaden - Reach Through</span>
                    </a> {% endcomment %}
                </lite-youtube>
            </div>
        </article>
        <hr/>
        <article>
            <h3><a href="https://www.youtube.com/watch?v=Y_inKSy9K0k"><cite>Afterimage from</cite></a></h3>
            
            <p>Part of my Eastman PhD dissertation was featured on Score Follower</p>
            
            <div class="gridVideoWrapper">
                <lite-youtube videoid="Y_inKSy9K0k" style="background-image: url('https://i.ytimg.com/vi/Y_inKSy9K0k/hqdefault.jpg');">
                </lite-youtube>
            </div>
        </article>
    </div>
    
    <div id="recent">
        <h2 id="recentHeader">Recently Updated</h2>
    </div>
</main>

<link rel="stylesheet" type="text/css" href="/styles/index.css" />
