---
layout: mainlayout
title: Reilly Spitzfaden, Composer
description: I'm Reilly Spitzfaden, a composer who likes noise, code, electronics, and nostalgia. This site has my music, Max/MSP patches, code, blog, and more.
canonical_url: https://reillyspitzfaden.com/
---
<!-- page content minus header/footer -->
<div class="content">

    <!-- name card -->
    <!--<div id="myCardBG">-->
        <div id="myCard">
            <h1 id="myCardName"><a href="/">Reilly Spitzfaden</a></h1>
            <p id="myCardDescription">composer&nbsp;//&nbsp;electronic musician&nbsp;//&nbsp;educator</p>
        </div>
    <!--</div>-->
    
    <!-- h-card (hidden) -->
    <div class="h-card">
        <img class="u-photo" src="./media/profile-400px.png" loading="lazy"/><br />
        <a class="p-name u-url" rel="me" href="https://reillyspitzfaden.com/">Reilly Spitzfaden</a><br />
        <p class="p-note">Composer and audio programmer who likes noise, code, electronics, and nostalgia // they/them</p>
    </div>

    <!-- recent events -->
    <div id="mainRecent">
        <h2 id="recentHeader">Featured</h2>
        <div id="recent">

            <div class="mediaQuoteBlock">
                <p class="mediaQuote">"...a retro-futuristic vibe with electronic samples from distorted fax machines, maritime radios and walkie-talkies..."</p>
                <p><cite class="mediaQuoteSource">&mdash;<a href="https://icareifyoulisten.com/2024/04/5-questions-to-apply-triangle/">I Care If You Listen</a></cite></p>
            </div>

            <div class="bandcampEmbed">
                <h3>My piece <a href="https://applytriangle.bandcamp.com/track/if-this-reaches-you"><cite>If this reaches you</cite></a> is on <a href="https://applytriangle.com/">Apply Triangle</a>'s new album <a href="https://applytriangle.bandcamp.com/album/oxalis-triangularis-vol-2"><cite>Oxalis Triangularis, Vol: 2</cite></a></h3>
                
                <iframe title="Bandcamp player for 'If this reaches you'" loading="lazy" style="border: 0; width: 100%; height: 120px;" src="https://bandcamp.com/EmbeddedPlayer/album=2134156337/size=large/bgcol=333333/linkcol=ffffff/tracklist=false/artwork=small/track=163763595/transparent=true/" seamless><a href="https://applytriangle.bandcamp.com/album/oxalis-triangularis-vol-2">Oxalis Triangularis: Vol. 2 by Apply Triangle, Reilly Spitzfaden</a></iframe>
                
            </div>

            <!-- <hr /> -->

            <div class="gridContainingBlock">
                <h3>Premiere of a commission for the University of Toronto's <a href="https://tapirlab.music.utoronto.ca/composers/">TaPIR Lab</a></h3>
                <div class="gridVideoWrapper">
                    <lite-youtube videoid="YtSerbT7C5A" style="background-image: url('https://i.ytimg.com/vi/YtSerbT7C5A/hqdefault.jpg');">
                        <!-- <a href="https://www.youtube.com/watch?v=YtSerbT7C5A" class="lty-playbtn" title="Play Video">
                            <span class="lyt-visually-hidden">Play Video: Reilly Spitzfaden - Reach Through</span>
                        </a> -->
                    </lite-youtube>
                </div>
            </div>

            <div class="gridContainingBlock">
                <h3>Part of my Eastman PhD dissertation was featured on Score Follower</h3>
                <div class="gridVideoWrapper">
                    <lite-youtube videoid="Y_inKSy9K0k" style="background-image: url('https://i.ytimg.com/vi/Y_inKSy9K0k/hqdefault.jpg');">
                        <!-- <a href="https://www.youtube.com/watch?v=Y_inKSy9K0k" class="lty-playbtn" title="Play Video">
                            <span class="lyt-visually-hidden">Play Video:  Reilly Spitzfaden &mdash; Afterimage from [w/ score] </span>
                        </a> -->
                    </lite-youtube>
                </div>
            </div>

        <!-- close recent -->
        </div>
    <!-- close "mainRecent" -->
    </div>
<!-- close "content" -->
</div>
