---
layout: mainlayout
title: Reilly Spitzfaden, Composer | Media
description: A collection of videos, podcast links, and other appearances around the internet
canonical_url: https://reillyspitzfaden.com/media
---
<div class="content">
<br/>
    <div id="BGpad">
        <div id="mainMedia">
            <h2>Media</h2>
            <div class="videoGrid">
                <div class="containingBlock">
                    <h3><i>Reach Through:</i></h3>
                    <div class="videoWrapper">
                        <lite-youtube videoid="YtSerbT7C5A" style="background-image: url('https://i.ytimg.com/vi/YtSerbT7C5A/hqdefault.jpg');"></lite-youtube>
                        {% comment %} <iframe width="560" height="315" src="https://www.youtube.com/embed/YtSerbT7C5A" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe> {% endcomment %}
                    </div>
                </div>
                <div class="containingBlock">
                    <h3><i>Afterimage from,</i> score video:</h3>
                    <div class="videoWrapper">
                        <lite-youtube videoid="Y_inKSy9K0k" style="background-image: url('https://i.ytimg.com/vi/Y_inKSy9K0k/hqdefault.jpg');"></lite-youtube>
                    </div>
                </div>
                
                <div class="containingBlock">
                    <h3><i>Everything lost along the way:</i></h3>
                    <div class="videoWrapper">
                        <lite-youtube videoid="7FXpG1s1HpE" style="background-image: url('https://i.ytimg.com/vi/7FXpG1s1HpE/hqdefault.jpg');"></lite-youtube>
                    </div>
                </div>
        
                <!-- <h3><i>Scratch:</i></h3> -->
        
                <div class="containingBlock">
                    <h3><i>Selist:</i></h3>
                    <div class="videoWrapper">
                        <lite-youtube videoid="aYjmpwDuPEI" style="background-image: url('https://i.ytimg.com/vi/aYjmpwDuPEI/hqdefault.jpg');"></lite-youtube>
                    </div>
                </div>
                
                <div class="containingBlock">
                    <h3><i>Each city, a tiny white flag:</i></h3>
                    <div class="videoWrapper">
                        <lite-youtube videoid="dXJl9MmD0P0" style="background-image: url('https://i.ytimg.com/vi/dXJl9MmD0P0/hqdefault.jpg');"></lite-youtube>
                    </div>
                </div>
        
                <div class="containingBlock">
                    <h3><i>Skin lives in wires:</i></h3>
                    <div class="videoWrapper">
                        <lite-youtube videoid="DA3fj-pdhMw" style="background-image: url('https://i.ytimg.com/vi/DA3fj-pdhMw/hqdefault.jpg');"></lite-youtube>
                    </div>
                </div>
                
                <div class="containingBlock">
                    <h3><i>Resonances,</i> score video:</h3>
                    <div class="videoWrapper">
                        <lite-youtube videoid="U7tHvdGgFjE" style="background-image: url('https://i.ytimg.com/vi/U7tHvdGgFjE/hqdefault.jpg');"></lite-youtube>
                    </div>
                </div>
        
                <div class="containingBlock">
                    <h3><i>Electromagnetic Soundwalk,</i> Rochester, NY:</h3>
                    <div class="videoWrapper">
                        <lite-youtube videoid="iQKfKuEqyYs" style="background-image: url('https://i.ytimg.com/vi/iQKfKuEqyYs/hqdefault.jpg');"></lite-youtube>
                    </div>
                </div>
                <!-- <p><a href="#top">Top ⭡</a></p> -->
            <!-- close "videoGrid" -->
            </div>
            <br />
            <h2>Links to appearances around the internet</h2>
            <div class="linksList">
                <h3><a href="https://nowandxen.libsyn.com/14-tone-reilly-spitzfaden">Interview</a> on <i>"Now&Xen"</i> Podcast</h3>                
                {% comment %} 
                <iframe style="border-radius:12px; width: 100%" src="https://open.spotify.com/embed/episode/2KJotkrdUJ7c1sF5WCYeJK?utm_source=generator" height="152" allowfullscreen="" allow="clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
                {% endcomment %}
                {% comment %} <iframe title="Libsyn Player" style="border: none; width: 100%" src="https://html5-player.libsyn.com/embed/episode/id/11999960/height/90/theme/custom/thumbnail/yes/direction/forward/render-playlist/no/custom-color/12507b/" height="90" scrolling="no"  allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>  {% endcomment %}
        
                <h3><a href="https://wayofm.org/shows/episodes/12042018-0">Interview</a> about Eastman OSSIA New Music commission on WAYO 104.3 FM</h3>
                {% comment %} <iframe style="width: 100%" height="120" src="https://www.mixcloud.com/widget/iframe/?hide_cover=1&feed=%2FSoundspace_Roc%2Fsoundspace-12-4-18-ossia-reilly-spitzfaden-and-erik-gibelyou%2F" ></iframe> {% endcomment %}
        
                <h3><a href="https://yeahiknowitsucks.wordpress.com/2018/01/04/how-things-are-made-with-reilly-spitzfaden-jamie-vandermolen-maurice-rickard-and-an-eel/">Blog review</a> of my piece "Combination Locks"</h3>
        
                {% comment %}<h3><a href="https://composerstoolbox.com/2017/09/23/reilly-spitzfaden-resonances/">Blog feature</a> of "Resonances" as a teaching tool for composers</h3>{% endcomment %}
        
                <h3><a href="https://www.icadenza.com/elf-multimedia-performance/">Concert review</a> I wrote for iCadenza.</h3>
            <!-- close "linksList"-->
            </div>
        <!-- close "main" -->
        </div>
    </div>
</div>
