---
layout: mainlayout
title: Reilly Spitzfaden, Composer | Now
description: Periodic updates about my current activities, projects, interests, and thoughts
canonical_url: https://reillyspitzfaden.com/now
---
<div class="content">
<br/>
    <div id="BGpad">
        <div id="mainNow">
            <h2>Now</h2>
            <p>This page is for periodic updates about my current activities, projects, interests, and thoughts.</p>
            <hr />
        
            <h3>Statuslog</h3>
            <p>Feels really nice to have my site set up with Eleventy &mdash; so much easier to keep updated!</p>
            <span class="meta-icon">
            <img src="{{ root_folder }}/media/icon-calendar-ltr.svg" alt="calendar icon" />
            </span>
            <span class="meta-text">
                <time>Saturday, November 23, 2024</time> | Rochester, NY
            </span>
            <hr />
        
            <h3>Currently Listening</h3>
            <p>Autechre, <a href="https://autechre.bandcamp.com/album/exai"><cite>Oversteps</cite></a>
            <ul>
                <li>I particularly like the track <cite>qplay</cite> &mdash; it's been giving me some great ideas about rhythm.</li>
            </ul>
            <hr />
            
            <h3>Currently Reading</h3>
            <p><a href="https://subcutanean.textories.com/"><cite>Subcutanean</cite></a> by Aaron A. Reed</p>
            <ul>
                <li>This book is <i>amazing</i>. I'm about halfway through, and it's very "The Backrooms."</li>
            </ul>
            <hr />
        
            <h3>Current Projects</h3>
            <p>I've learned enough Rust to get started on an <a href="https://github.com/reillypascal/rs_rust_audio">audio library</a>. My plan is to use this as the source to build a plugin in Rust, but I think it'll be helpful to figure out the basic audio processing before trying to learn a new plugin toolset outside of JUCE.</p>
        
            <hr />
            <p>Inspired by <a href="https://sive.rs/">Derek Sivers</a>' <a href="https://nownownow.com/about">nownownow</a> project.</p> 
            <p>Last updated: November 23, 2024</p>
            <!-- close "main" -->
        </div>
    </div>
</div>
