---
layout: mainlayout.liquid
title: Reilly Spitzfaden, Composer | Now
description: Periodic updates about my current activities, projects, interests, and thoughts
canonical_url: https://reillyspitzfaden.com/now
date: 2025-04-11T21:10:00-0400
---
<link rel="stylesheet" type="text/css" href="/styles/onecolumn.css" />

<main role="main" id="content">
    <h2 class="sectionHeader">Now</h2>
    <p class="sectionDescription">This page is for periodic updates about my current activities, projects, interests, and thoughts.</p>
    
    <article>
        <h3 class="sectionHeader">Statuslog</h3>

        {% include "partials/statuslog-content.liquid" %}
    </article>

    <article>
        <h3 class="sectionHeader">Current Projects</h3>

        <p>I recently made an <a href="https://github.com/reillypascal/mp3glitch">mp3glitch</a> Python script that glitches up MP3s while still leaving them playable. I'd been wanting to do this for a while, and it's very helpful for my composition. I write more about the project <a href="/posts/2025/04/databending-part-3/">here</a> and <a href="/posts/2025/02/databending-part-2/">here</a>.</p>
        
        <p>I've also started a “<a href="/code/#grimoire">grimoire</a>” section on my site that I'm filling with short scripts that are useful to me. This is inspiring me to write in Bash, Zsh, and Python more — these are languages I haven't used as much, but using them lets me make useful but simple tools, and inspires me to program more.</p>
    </article>
    
    <article>
        <h3 class="sectionHeader">Currently Listening</h3>
        <p>William Fields, <a href="https://williamfields.bandcamp.com/album/fictions"><cite>Fictions</cite></a>: I particularly like the track <cite>Doquado</cite>.</p>
    </article>
    
    <article>
        <h3 class="sectionHeader">Currently Reading</h3>
        <p><a href="https://subcutanean.textories.com/"><cite>Subcutanean</cite></a> by Aaron A. Reed: this book is <em>amazing</em>. It's a generative horror novel that's like “The Backrooms” meets a queer coming-of-age story.</p>
    </article>
    
    <article>
        <p>Inspired by <a href="https://sive.rs/">Derek Sivers'</a> <a href="https://nownownow.com/about">nownownow</a> project.</p> 
        <p>Last updated: {{ date | date: "%B %d, %Y" }}</p>
    </article>
</main>
