---
layout: mainlayout.njk
title: Reilly Spitzfaden, Composer | Now
description: Periodic updates about my current activities, projects, interests, and thoughts
canonical_url: https://reillyspitzfaden.com/now
root_folder: ..
---
<div class="content">
<br/>
    <div id="BGpad">
        <div id="mainNow">
            <h2>Now</h2>
            <p>This page is for periodic updates about my current activities, projects, interests, and thoughts.</p>
            <hr />
        
            <h3>Statuslog</h3>
            <p>Just finished reading "Neuromancer" by William Gibson today. Enjoyed it a lot!</p>
            <span class="meta-icon">
                <img src="media/icon-calendar-ltr.svg" alt="calendar icon" />
            </span>
            <span class="meta-text">
                <time>Jun 16, 2024, 18:42</time> | Rochester, NY
            </span>
            <hr />
        
            <h3>Currently Listening</h3>
            <p>Autechre, <a href="https://autechre.bandcamp.com/album/gantz-graf"><cite>Gantz Graf</cite></a> and <a href="https://autechre.bandcamp.com/album/ep7"><cite>EP7</cite></a></p> 
        
            <p>Charli xcx, <a href="https://www.youtube.com/playlist?list=OLAK5uy_nSIlyvjzWS-Y6sZb24dhzcg0UlQazxn5k"><cite>brat</cite></a> </p>
        
            <p>Fire-Toolz, <a href="https://fire-toolz.bandcamp.com/album/breeze"><cite>Breeze</cite></a></p>
        
            <hr />
        
            <h3>Current Projects</h3>
            <p>I'm using my time off from teaching this summer to deep-dive into some of my programming interests. One project that's been successful already is my work on updating my reverb plugin &mdash; <a href="https://github.com/reillypascal/RSAlgorithmicVerb">RS Algorithmic Verb</a>, which you can download on GitHub. It's a collection of many different reverb algorithms, including modeling classic hardware, and some experiments with <a href="https://ccrma.stanford.edu/~jos/pasp/Feedback_Delay_Networks_FDN.html">feedback delay networks</a>. </p>
        
            <p>I'm also finally learning Rust! I've wanted to for a while, and I'm finding it more approachable than I'd worried it might be. So far I'm working through <cite>The Rust Programming Language</cite>, as well as practicing some of my skills doing embedded programming on the BBC micro:bit microcontroller. I'm really enjoying the language, and I hope to get some audio plugins written in it.</p>
        
            <p>One music project I'm currenly working on is a trio for oboe, percussion, and MIDI keyboard, tentatively titled <cite>Forget your name</cite>. I wrote about some of the sound design <a href="blog/02-27-2024.html">here</a> and <a href="blog/05-04-2024.html">here</a>, and while it has been going slowly, I've been happy with some of the sounds I've made.</p>
        
            <p>I've also been able to do some work on my website. I added <a href="blog/05-21-2024.html">webmentions</a>, added a reaction button to my blog posts (writeup forthcoming), and added dropdowns within the menu to make it easier to add more pages (such as this now page!).</p>
        
            <hr />
            <p>Inspired by <a href="https://sive.rs/">Derek Sivers</a>' <a href="https://nownownow.com/about">nownownow</a> project.</p> 
            <p>Last updated: July 8, 2024</p>
            <!-- close "main" -->
        </div>
    </div>
</div>
