---
layout: mainlayout.liquid
title: Reilly Spitzfaden, Composer | Search
description: Search my site
canonical_url: https://reillyspitzfaden.com/search
eleventyExcludeFromCollections: true
draft: true
---
<link rel="stylesheet" type="text/css" href="/styles/onecolumn.css" />

<main role="main" id="content">
    <h2 class="sectionHeader">Search</h2>
    <p>Search the entire site. Uses <a href="https://pagefind.app/">Pagefind</a></p>

    {% include "partials/pagefind-search.html" %}
</main>
