---
layout: mainlayout.liquid
title: Reilly Spitzfaden, Composer | Search
description: Search entire site
eleventyExcludeFromCollections: true
---
<link rel="stylesheet" type="text/css" href="/styles/onecolumn.css" />

<main role="main" id="content">
    <h2 class="sectionHeader">Search</h2>
    <p>Search the entire site using <a href="https://pagefind.app/">Pagefind</a></p>

    <aside>
        <p>Note: search requires JavaScript. To search without JavaScript, you can use the search filter <code>site:reillyspitzfaden.com</code> in your favorite search engine: <a href="https://us.startpage.com/sp/search?query=site%253Areillyspitzfaden.com">Startpage</a>, <a href="https://duckduckgo.com/?t=h_&q=site%253Areillyspitzfaden.com">DuckDuckGo</a>, <a href="https://searx.space/">SearX (list of instances)</a></p>
    </aside>
    
    {% include "partials/pagefind-search.liquid" %}
    
    <p class="searchIndexDate">Last indexed {{ generated }}</p>
</main>
