---
title: Reilly Spitzfaden, Composer | Search
description: Search entire site
eleventyExcludeFromCollections: true
---
<link rel="stylesheet" type="text/css" href="/styles/onecolumn.css">
<link rel="stylesheet" type="text/css" href="/styles/code/code-tweaks.css">

<h1 class="sectionHeader">Search</h1>
<p>Search the entire site using <a href="https://pagefind.app/">Pagefind</a></p>

{% include 'partials/pagefind-search.liquid' %}

<aside>
    <p>
        To search without JavaScript, use the search filter <code>site:reillyspitzfaden.com</code> in e.g.,
        <a href="https://duckduckgo.com/?t=h_&q=site:reillyspitzfaden.com">DuckDuckGo</a>
    </p>
</aside>
