---
layout: mainlayout.liquid
title: Reilly Spitzfaden, Composer | Shop
description: Buy scores and recordings from Reilly Spitzfaden
canonical_url: https://reillyspitzfaden.com/shop
eleventyExcludeFromCollections: true
---
<link rel="stylesheet" type="text/css" href="/styles/onecolumn.css" />
<link rel="stylesheet" type="text/css" href="/styles/works-table.css" />

<main role="main" id="content">
    
    <section>
        <h2 class="sectionHeader">Purchase Scores</h2>
        <p><a href="mailto:reillypascal@gmail.com">Email me</a> to purchase PDF scores and parts. Please indicate in the email which scores you would like to purchase.</p>
        <p>I can accept payment via <a href="https://www.paypal.com/paypalme/ReillySpitzfaden">PayPal</a> or <a href="https://venmo.com/u/reillypascal">Venmo</a>.</p>
        <p>For Max/MSP patches and other electronic materials, see <a href="/supplemental">this page</a>.</p>
    </section>
    {% comment %}<ul id="categories">
        <li>{% list_dingbat %}Shop score categories:</li>
        <li><a href="#2-4-plr">2-4 Players</a></li>
        <li><a href="#5-8-plr">5-8 Players</a></li>
        <!-- <li><a href="#solo">Solo</a></li>
        <li><a href="#large-ens">Large Ensemble</a></li>
        <li><a href="#orch">Orchestra</a></li>
        <li><a href="#other">Fixed Media/Other</a></li> -->
    </ul>{% endcomment %}
    
    <article>
        <h3 class="sectionHeader" id="2-4-plr">Chamber Scores (2–4 Players)</h3>
        <p>PDF scores with parts: $25 each</p>
        <p>Links are to recordings of the pieces; <a href="mailto:reillypascal@gmail.com">Email</a> to purchase</p>
        <table>
            <tr>
                <th>2023</th>
                <td><a href="https://www.youtube.com/watch?v=YtSerbT7C5A"><cite>Reach Through</cite></a> for percussion quartet with mobile phones, commissioned by <a href="https://tapirlab.music.utoronto.ca/">TaPIR Lab</a> (7')</td>
            </tr>
            <tr>
                <th>2022</th>
                <td><a href="https://soundcloud.com/reilly-spitzfaden/spitzfaden-outlive-everything-you-know"><cite>Outlive everything you know</cite></a> for percussion, soprano saxophone, and MIDI keyboard (6’45”)</td>
            </tr>
            <tr>
                <th>2021</th>
                <td><a href="https://www.youtube.com/watch?v=Y_inKSy9K0k"><cite>Afterimage from</cite></a> for percussion, cello, and MIDI keyboard (8’)</td>
            </tr>
            <tr>
                <th>2021</th>
                <td><a href="https://www.youtube.com/watch?v=7FXpG1s1HpE"><cite>Everything lost along the way</cite></a> for trumpet, trombone, percussion, and MIDI keyboard (6’30”)</td>
            </tr>
            <tr>
                <th>2020</th>
                <td><a href="https://applytriangle.bandcamp.com/track/if-this-reaches-you"><cite>If this reaches you</cite></a> for flute, B-flat clarinet, and MIDI keyboard (5’)</td>
            </tr>
            <tr>
                <th>2018</th>
                <td><a href="https://soundcloud.com/reilly-spitzfaden/close-to-2018"><cite>Close to</cite></a> for violin, voice, and amplified objects (7’)</td>
            </tr>
            <tr>
                <th>2017</th>
                <td><a href="https://howthingsaremade.bandcamp.com/track/reilly-spitzfaden-combination-locks"><cite>Combination Locks</cite></a> for trumpet, electric guitar, and live electronics (7’)</td>
            </tr>
            <tr>
                <th>2016</th>
                <td><a href="https://www.youtube.com/watch?v=1_8dkOW6qrs"><cite>Woman in a Meeting</cite></a> for viola and alto saxophone (9’30”)</td>
            </tr>
        </table>
    </article>
    
    <article>
        <h3 class="sectionHeader" id="5-8-plr">Chamber Scores (5–8 Players)</h3>
        <p>PDF scores with parts: $30 each</p>
        <p>Links are to recordings of the pieces; <a href="mailto:reillypascal@gmail.com">Email</a> to purchase</p>
        <table>
            <tr>
                <th>2019</th>
                <td><a href="https://www.youtube.com/watch?v=aYjmpwDuPEI"><cite>Selist</cite></a> for two percussionists, piano four-hands, and no-input mixer (7’15”)</td>
            </tr>
            <tr>
                <th>2019</th>
                <td><a href="https://soundcloud.com/reilly-spitzfaden/end-of-2019"><cite>end of</cite></a> for flute, violin, cello, percussion, and live electronics, with optional video projection (7’15”)</td>
            </tr>
            <tr>
                <th>2017</th>
                <td><a href="https://soundcloud.com/reilly-spitzfaden/bones-2017"><cite>Bones</cite></a> for soprano and string quartet (5’)</td>
            </tr>
            <tr>
                <th>2016</th>
                <td><a href="https://www.youtube.com/watch?v=U7tHvdGgFjE"><cite>Resonances</cite></a> for flute, clarinet, percussion, piano, violin, and cello (7’45”)</td>
            </tr>
        </table>
    </article>
    
    <article>
        <h2 class="sectionHeader">Purchase Recordings</h2>

        <h3><cite>If this reaches you</cite> (2024)</h3>
        <p>On <cite>Oxalis Triangularis, Volume 2</cite> by Apply Triangle | <a href="https://applytriangle.bandcamp.com/track/if-this-reaches-you">Purchase</a></p>

        <h3><cite>Combination Locks</cite> (2017)</h3>
        <p>On <cite>HTAM S3E02</cite> by How things are made | <a href="https://howthingsaremade.bandcamp.com/track/reilly-spitzfaden-combination-locks">Purchase</a></p>

        <h3><cite>Nonet, mvt. I</cite> (2014)</h3>
        <p>On <cite>Statements</cite> by the Michigan State University Music Composition Studio | <a href="https://msucomp.bandcamp.com/track/nonet-for-winds-strings-and-percussion">Purchase</a></p>
    </article>

    <p><a href="#top">Top ⭡</a></p>
</main>
