---
layout: mainlayout.liquid
title: Reilly Spitzfaden, Composer | Sounds
description: Reilly Spitzfaden's library of interesting sounds and instrument techniques
---
<!-- lite-youtube -->
<link rel="stylesheet" href="/styles/videos/lite-yt-embed.css" />
<script src="/styles/videos/lite-yt-embed.js"></script>

<link rel="stylesheet" type="text/css" href="/styles/onecolumn.css" />

<main role="main" id="content">
    <h1 class="sectionHeader">Instrument Demonstrations</h1>
    
    <article>
        <h2><cite>Scratch</cite></h2>
        
        <figure>
            <div class="videoWrapper">
                <lite-youtube videoid="OXtjlqxkQ9Q" style="background-image: url('https://i.ytimg.com/vi/OXtjlqxkQ9Q/hqdefault.jpg');"></lite-youtube>
            </div>
            
            <figcaption><a href="https://www.youtube.com/watch?v=OXtjlqxkQ9Q"><cite>Scratch</cite> speaker instrument demo</a> (<a href="/contact">contact me</a> about the instrument):</figcaption>
        </figure>
        
    </article>

    <article>

        <h2><cite>end of</cite></h2>
        
        <figure>
            <div class="videoWrapper">
                <lite-youtube videoid="u4jYXdW79h8" style="background-image: url('https://i.ytimg.com/vi/u4jYXdW79h8/hqdefault.jpg');"></lite-youtube>
            </div>
                
            <figcaption><a href="https://www.youtube.com/watch?v=u4jYXdW79h8"><cite>end of</cite> electronics demo</a> (requires Bastl <a href="https://bastl-instruments.com/instruments/kastle">Kastle v1.5</a> synthesizer):</figcaption>
        </figure>

    </article>

</main>

