---
layout: mainlayout.liquid
title: Reilly Spitzfaden, Composer | Supplemental Materials
description: Reilly Spitzfaden's Max/MSP patches and musical instrument/technique demonstrations
canonical_url: https://reillyspitzfaden.com/supplemental
---
<!-- lite-youtube -->
<link rel="stylesheet" href="/styles/videos/lite-yt-embed.css" />
<script src="/styles/videos/lite-yt-embed.js"></script>

<link rel="stylesheet" type="text/css" href="/styles/onecolumn.css" />

<style>
    article {
        margin-top: 48px;
    }
    td {
        padding: 8px 0;
    }
    .videoWrapper {
        max-width: 600px;
    }
</style>
<main>
    <h2 class="sectionHeader">Performance Materials</h2>
    
    <article>
        <table>
            <tr>
                <!-- <th>2022</th> -->
                <td><i>Reach Through</i> <a href="https://github.com/reillypascal/reach-through">performance patch</a></td>
            </tr>
            <tr>
                <!-- <th>2022</th> -->
                <td><i>Outlive everything you know</i> <a href="https://github.com/reillypascal/outlive">performance patch</a></td>
            </tr>
            <tr>
                <!-- <th>2022</th> -->
                <td><i>Everything lost along the way</i> <a href="https://github.com/reillypascal/everythinglost">performance patch</a></td>
            </tr>
            <tr>
                <!-- <th>2021</th> -->
                <td><i>Afterimage from</i> <a href="https://github.com/reillypascal/afterimage">performance patch</a></td>
            </tr>
            <tr>
                <!-- <th>2020</th> -->
                <td><i>If this reaches you</i> <a href="https://github.com/reillypascal/ifthisreachesyou">performance patch</a></td>
            </tr>
        </table>
    </article>
        
    <h2 class="sectionHeader">Instrument/Technique Demonstrations</h2>
    <article>
        <section>
            <h3><a href="https://www.youtube.com/watch?v=OXtjlqxkQ9Q"><cite>Scratch</cite> speaker instrument demo</a> (contact me about the instrument):</h3>
            <div class="videoWrapper">
                <lite-youtube videoid="OXtjlqxkQ9Q" style="background-image: url('https://i.ytimg.com/vi/OXtjlqxkQ9Q/hqdefault.jpg');"></lite-youtube>
            </div>
        </section>
        
        <section>
            <h3><a href="https://www.youtube.com/watch?v=u4jYXdW79h8"><cite>end of</cite> electronics demo</a> (requires Bastl <a href="https://bastl-instruments.com/instruments/kastle">Kastle v1.5</a> synthesizer):</h3>
            <div class="videoWrapper">
                <lite-youtube videoid="u4jYXdW79h8" style="background-image: url('https://i.ytimg.com/vi/u4jYXdW79h8/hqdefault.jpg');"></lite-youtube>
            </div>
        </section>
    </article>
</main>

