---
layout: mainlayout.liquid
title: Reilly Spitzfaden, Composer | Posts by Tag
description: Blog posts listed by tag
eleventyExcludeFromCollections: true
---
<link rel="stylesheet" type="text/css" href="/styles/onecolumn.css" />

<style>
    figure {
        margin-left: 20px;
    }
    .tag {
        margin: 20px 0;
    }
</style>

<main role="main" id="content">
    <h1 class="sectionHeader">All tags</h1>
    <div id="allTagsList">
        {% for tag in collections.allTags %}
            {% if tag != 'interaction' and tag != 'note' and tag != 'post' %}
                <figure>
                    <p class="tag" id="{{ tag }}"><a href="/tags/{{ tag }}">#{{ tag | replace: "-", " "  }}</a> ({{ collections[tag].length }}) </p>
                </figure>
            {% endif %}
        {% endfor %}
        
    </div>
</main>
