---
layout: mainlayout.liquid
title: Reilly Spitzfaden, Composer | Posts by Tag
description: Blog posts listed by tag
eleventyExcludeFromCollections: true
---
<link rel="stylesheet" type="text/css" href="/styles/onecolumn.css" />

<style>
    figure {
        margin-left: 20px;
    }
    .tag {
        margin: 20px 0;
    }
</style>

<main role="main" id="content">
    <h2 class="sectionHeader">All tags</h2>
    <div id="allTagsList">
        {% for tag in collections.allTags %}
            {% comment %} {% if tag != 'like' %}
            {% if tag != 'note' %}
            {% if tag != 'post' %} {% endcomment %}
            <figure>
                <p class="tag" id="{{ tag }}"><a href="/tags/{{ tag }}">#{{ tag }}</a> ({{ collections[tag].length }}) </p>
            </figure>
            {% comment %} {% endif %}
            {% endif %}
            {% endif %} {% endcomment %}
        {% endfor %}
        
    </div>
</main>
