---
layout: mainlayout.liquid
title: Reilly Spitzfaden, Composer | Works
description: Reilly Spitzfaden's compositions, including links to recordings when available
canonical_url: https://reillyspitzfaden.com/works
root_folder: ..
---
<div class="content">
<br/>
    <div id="BGpad">
        <div id="main">
            <div id="workslist">
                <h2>Categories</h2>
                    <ul id="categories">
                        <li><a href="#2-4-plr">2-4 Players</a></li>
                        <li><a href="#5-8-plr">5-8 Players</a></li>
                        <li><a href="#solo">Solo</a></li>
                        <li><a href="#large-ens">Large Ensemble</a></li>
                        <li><a href="#orch">Orchestra</a></li>
                        <li><a href="#other">Fixed Media/Other</a></li>
                    </ul>
                <br/>
                <h2>List of works</h2>
                
                    <h3 id="2-4-plr">2-4 Players</h3>
                        <table>
                            <tr>
                                <th>2024</th>
                                <td><cite>Forget your name</cite> for flute, oboe, and MIDI keyboard (upcoming)</td>
                            </tr>
                            <tr>
                                <th>2023</th>
                                <td><a href="https://www.youtube.com/watch?v=YtSerbT7C5A"><cite>Reach Through</cite></a> for percussion quartet with mobile phones, commissioned by <a href="https://tapirlab.music.utoronto.ca/">TaPIR Lab</a> (7')</td>
                            </tr>
                            <tr>
                                <th>2022</th>
                                <td><a href="https://soundcloud.com/reilly-spitzfaden/spitzfaden-outlive-everything-you-know"><cite>Outlive everything you know</cite></a> for percussion, soprano saxophone, and MIDI keyboard (6’45”)</td>
                            </tr>
                            <tr>
                                <th>2021</th>
                                <td><a href="https://www.youtube.com/watch?v=Y_inKSy9K0k"><cite>Afterimage from</cite></a> for percussion, cello, and MIDI keyboard (8’)</td>
                            </tr>
                            <tr>
                                <th>2021</th>
                                <td><a href="https://www.youtube.com/watch?v=7FXpG1s1HpE"><cite>Everything lost along the way</cite></a> for trumpet, trombone, percussion, and MIDI keyboard (6’30”)</td>
                            </tr>
                            <tr>
                                <th>2020</th>
                                <td><a href="https://applytriangle.bandcamp.com/track/if-this-reaches-you"><cite>If this reaches you</cite></a> for flute, B-flat clarinet, and MIDI keyboard (5’)</td>
                            </tr>
                            <tr>
                                <th>2020</th>
                                <td><cite>My days all disappear</cite> for horn and two percussionists/electronics players (8’)</td>
                            </tr>
                            <tr>
                                <th>2018</th>
                                <td><a href="https://www.youtube.com/watch?v=DA3fj-pdhMw"><cite>Skin lives in wires</cite></a> for alto saxophone, motors and speakers, percussion, and bass (10’30”)</td>
                            </tr>
                            <!--
                            <tr>
                                <th>2018</th>
                                <td><cite>carry things</cite> for two dancers and amplification (12’)</td>
                            </tr>
                            -->
                            <tr>
                                <th>2018</th>
                                <td><a href="https://soundcloud.com/reilly-spitzfaden/close-to-2018"><cite>Close to</cite></a> for violin, voice, and amplified objects (7’)</td>
                            </tr>
                            <tr>
                                <th>2017</th>
                                <td><a href="https://howthingsaremade.bandcamp.com/track/reilly-spitzfaden-combination-locks"><cite>Combination Locks</cite></a> for trumpet, electric guitar, and live electronics (7’)</td>
                            </tr>
                            <tr>
                                <th>2016</th>
                                <td><a href="https://www.youtube.com/watch?v=1_8dkOW6qrs"><cite>Woman in a Meeting</cite></a> for viola and alto saxophone (9’30”)</td>
                            </tr>
                            <tr>
                                <th>2014</th>
                                <td><a href="https://soundcloud.com/reilly-spitzfaden/in-a-corner"><cite>In a Corner</cite></a> for mezzo-soprano and piano (5’)</td>
                            </tr>
                        </table>
                    
                        <hr />
                    <h3 id="5-8-plr">5-8 Players</h3>
                    <table>
                        <tr>
                            <th>2020</th>
                            <td><cite>Sign here, please</cite> for flexible ensemble (1’)</td>
                        </tr>
                        <tr>
                            <th>2019</th>
                            <td><a href="https://www.youtube.com/watch?v=aYjmpwDuPEI"><cite>Selist</cite></a> for two percussionists, piano four-hands, and no-input mixer (7’15”)</td>
                        </tr>
                        <tr>
                            <th>2019</th>
                            <td><a href="https://soundcloud.com/reilly-spitzfaden/end-of-2019"><cite>end of</cite></a> for flute, violin, cello, percussion, and live electronics, with optional video projection (7’15”)</td>
                        </tr>
                        <tr>
                            <th>2017</th>
                            <td><a href="https://soundcloud.com/reilly-spitzfaden/bones-2017"><cite>Bones</cite></a> for soprano and string quartet (5’)</td>
                        </tr>
                        <!--
                        <tr>
                            <th>2017</th>
                            <td><cite>e. e. cummings songs</cite> for wind quintet (14’)</td>
                        </tr>
                        -->
                        <tr>
                            <th>2016</th>
                            <td><a href="https://www.youtube.com/watch?v=U7tHvdGgFjE"><cite>Resonances</cite></a> for flute, clarinet, percussion, piano, violin, and cello (7’45”)</td>
                        </tr>
                    </table>
        
                    <hr />
        
                    <h3 id="solo">Solo</h3>
                        <table>
                            <tr>
                                <th>2019</th>
                                <td><cite>Scratch</cite> for solo percussionist with speaker instruments (6’30”)</td>
                            </tr>
                            <tr>
                                <th>2018</th>
                                <td><cite>Lift</cite> for solo bassoon (8’30”)</td>
                            </tr>
                            <tr>
                                <th>2017</th>
                                <td><a href="https://soundcloud.com/reilly-spitzfaden/touch-2018"><cite>Touch</cite></a> for solo viola (10’)</td>
                            </tr>
                            <tr>
                                <th>2017</th>
                                <td><cite>Unwind</cite> for unaccompanied mezzo-soprano (2’)</td>
                            </tr>
                            <tr>
                                <th>2016</th>
                                <td><cite>From Dust</cite> for Kingma System® flute and Glissando Headjoint® (8’)</td>
                            </tr>
                            <tr>
                                <th>2016</th>
                                <td><a href="https://soundcloud.com/reilly-spitzfaden/the-view-from-an-unstable-window-excerpts-2016"><cite>The View from an Unstable Window</cite></a> for euphonium and live electronics (8’)</td>
                        </table>
        
                        <hr />
        
                    <h3 id="large-ens">Large Ensemble</h3>
                        <table>
                            <tr>
                                <th>2019</th>
                                <td><a href="https://www.youtube.com/watch?v=dXJl9MmD0P0"><cite>Each city, a tiny white flag</cite></a> for sinfonietta and electronic feedback (8’)</td>
                            </tr>
                            <tr>
                                <th>2015</th>
                                <td><a href="https://soundcloud.com/reilly-spitzfaden/multiplicity-premiere-11-18-15"><cite>Multiplicity</cite></a> for sinfonietta (7’30”)</td>
                            </tr>
                            <tr>
                                <th>2015</th>
                                <td><a href="https://soundcloud.com/reilly-spitzfaden/eidos-premiere-4-21-15"><cite>Eidos</cite></a> for concert band (5’45”)</td>
                            </tr>
                            <tr>
                                <th>2014</th>
                                <td><a href="https://soundcloud.com/reilly-spitzfaden/sets/nonet-premiere"><cite>Nonet</cite></a> for flute, oboe, bass clarinet, horn, trumpet, trombone, percussion, violin, and cello (11’)</td>
                            </tr>
                        </table>
        
                        <hr />
        
                    <h3 id="orch">Orchestra</h3>
                        <table>
                            <tr>
                                <th>2014</th>
                                <td><a href="https://soundcloud.com/reilly-spitzfaden/unrest-msu-symphony-orchestra-reading-11-7-14"><cite>Unrest</cite></a> for orchestra (7’15”)</td>
                            </tr>
                        </table>
        
                        <hr />
        
                    <h3 id="other">Fixed Media/Other</h3>
                        <table>
                            <tr>
                                <th>2020</th>
                                <td><a href="https://www.youtube.com/watch?v=nyTeb25pXN8"><cite>Love Always, 2015</cite></a> for electronic fixed media (30”)</td>
                            </tr>
                            <tr>
                                <th>2015</th>
                                <td><a href="https://soundcloud.com/reilly-spitzfaden/an-ode-to-cicadas"><cite>An Ode to Cicadas</cite></a> for electronic fixed media (4’45”)</td>
                            </tr>
                            <tr>
                                <th>2015</th>
                                <td>Film score selections for <a href="https://vimeo.com/173638277"><cite>(313) Choices</cite></a> for electronic fixed media (approx. 4’)
                        </table>
            </div>
        <p><a href="#top">Top ⭡</a></p>
        <!-- close "main" -->
        </div>
    </div>
</div>
