<!-- lite-youtube -->
<link rel="stylesheet" href="/styles/videos/lite-yt-embed.css" />
<script src="/styles/videos/lite-yt-embed.js"></script>

<!-- divs only used in videogrid.css -->
<div class="containingBlock">
    <div class="videoWrapper">
        <lite-youtube videoid="example" style="background-image: url('https://i.ytimg.com/vi/example/hqdefault.jpg');">
            <a href="https://www.youtube.com/watch?v=example" class="lyt-playbtn" title="Play Video"><span class="lyt-visually-hidden">Watch on YouTube: "example"</span></a>
        </lite-youtube>
    </div>
</div>

<!-- https://github.com/paulirish/lite-youtube-embed?tab=readme-ov-file#pro-usage-load-w-js-deferred-aka-progressive-enhancement -->