@font-face {
  font-family: 'IBM Plex Mono';
  font-style: regular;
  font-display: swap;
  src: url(/styles/fonts/ibmplexmono/IBMPlexMono-Regular.woff2) format('woff2');
}

@font-face {
  font-family: 'IBM Plex Mono';
  font-style: italic;
  font-display: swap;
  src: url(/styles/fonts/ibmplexmono/IBMPlexMono-Italic.woff2) format('woff2');
}

code {
    font-family: 'IBM Plex Mono', monospace !important;
    font-size: 0.85rem;
}

code[class*="language-"],
pre[class*="language-"] {
    white-space: pre-wrap;
    font-size: 0.9rem;
}