
/* webmentions */
input#webmention-source {
    border: none;
    border-radius: 3px;
    /* padding: 5px; */
    width: calc(100% - 7em);
    font-family: inherit;
    font-size: 0.875em;
    font-weight: 400;

    color: var(--bg-dark);
    background-color: var(--accent-med-light);
    outline-color: hsla(209, 100%, 94%, 0.67) !important;
    /* background-color: #303234; */
    /* color: #fff; */
}

input[type="submit"] {
    background-color: var(--accent-med-light);
}

input.textinput:focus,
textarea:focus,
input#webmention-source:focus {
    outline-style: solid !important;
    outline-width: 1px !important;
    outline-color: var(--accent-med) !important;
}

input[id="webmention-submit"] {
    float: right;
    text-align: center;
    width: 4.75em;
    padding: 0 2px; /* keeps text from moving right on mobile */
    height: 1.75em;
}
input,
textarea,
fieldset {
    flex: 1 1 30em;
}
input[type="submit"] {
    /* turns off default styling for iOS/Safari, Mozilla, gen. */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /*****/
    font-family: inherit;
    font-size: inherit;
    font-weight: 300;
    border: none;
    border-radius: 3px;
    margin: 0 0 0 auto;
    /* background-color: #383a3f; */
    /* color: #fff; */
    justify-content: center;
}
input[id="send-email"] {
    display: flex;
    flex: 0 0 3.5em;
    height: 1.75em;
}
input[id="submit-comment"] {
    display: flex;
    flex: 0 0 4.5em;
    height: 1.75em;
}
input[id="load-comments"] {
    width: 8.25em;
    height: 1.75em;
}

/* Makes sizing form elements more consistent */
form {
    box-sizing: border-box;
    max-width: 45rem;
    padding: 8px 0;
}
/* cancel out list styles */
fieldset ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* flex list */
fieldset ul li {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0.75em;
}
/* hide border, legend; format label */
fieldset {
    padding: 0;
    margin: 0;
    border: none;
}
legend {
    width: 0;
    height: 1px;
    overflow: hidden;
}
/* label {
    flex: 0 0 8em;
} */

input,
textarea,
fieldset {
    flex: 1 1 30em;
}

input { 
    font-family: inherit; 
    font-size: 0.875em;
}

input, textarea {
    background-color: var(--accent-med-light);
    height: 1.75em;
    border: none;
    border-radius: 3px;
}

textarea {
    display: block;
    height: 10em;
    border: none;
    border-radius: 3px;
    padding: 5px;
    font-family: inherit;
    font-size: 0.875em;
    font-weight: 400;
    line-height: 1.25;
    resize: none;
    overflow: auto;
    /* background-color: #303234; */
    /* color: #fff; */
}