/*
TODO:
- split between pages
- responsive images
- js hangups
- replace br w/css
*/

/* @import url('https://fonts.googleapis.com/css2?family=Lato&display=swap'); */

/* @font-face {
    font-family: "Lato";
    src: local("Lato"),
        url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
    font-display: swap;
} */

@font-face {
    font-family: "Lato";
    src:
        url("/styles/fonts/lato-webfontkit/lato-light-webfont.woff2")
            format("woff2"),
        url("/styles/fonts/lato-webfontkit/lato-light-webfont.woff")
            format("woff");
    font-weight: 300;
    font-display: swap;
}
@font-face {
    font-family: "Lato";
    src:
        url("/styles/fonts/lato-webfontkit/lato-regular-webfont.woff2")
            format("woff2"),
        url("/styles/fonts/lato-webfontkit/lato-regular-webfont.woff")
            format("woff");
    font-display: swap;
}
@font-face {
    font-family: "Lato";
    src:
        url("/styles/fonts/lato-webfontkit/lato-lightitalic-webfont.woff2")
            format("woff2"),
        url("/styles/fonts/lato-webfontkit/lato-lightitalic-webfont.woff")
            format("woff");
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: "Lato";
    src:
        url("/styles/fonts/lato-webfontkit/lato-italic-webfont.woff2")
            format("woff2"),
        url("/styles/fonts/lato-webfontkit/lato-italic-webfont.woff")
            format("woff");
    font-style: italic;
    font-display: swap;
}
html {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 100%;
}

/* color and theme */

body,
.nav,
.nav a.icon,
#main,
#mainBlog,
#mainMedia,
#mainNow,
#mainRecent,
#mainTagList,
footer {
    background-color: #111318;
}

body,
.dropbtn,
.nav a,
:link,
:visited,
input.textinput,
textarea,
input[type="submit"],
input#webmention-source {
    color: #d2dde6;
}

#myCard {
    border-color: #d2dde6;
    text-shadow: 1px 1px 8px #000000;
    background-color: rgba(17, 19, 24, 0.15);
    backdrop-filter: blur(1px);
    /* backdrop-filter: contrast(-5%); */
}

.comment,
input.textinput,
textarea,
input[type="submit"],
input#webmention-source {
    background-color: #363847;
    /* background-color: #343a40; */
}

.nav a:focus,
.nav a:hover,
.dropbtn:focus,
.dropbtn:hover,
.dropdown-content a:focus,
.dropdown-content a:hover {
    background-color: #363847;
    /* background-color: #343a40; */
    box-shadow: 0 0 1px 1px #111318 inset;
}

input.textinput:focus,
textarea:focus,
input#webmention-source:focus {
    outline-color: hsla(209, 100%, 94%, 0.67) !important;
}

input[type="submit"]:focus,
input[type="submit"]:hover {
    outline-color: rgba(224, 240, 255, 0.67) !important;
    background-color: #565973;
    /* background-color: #58626c; */
}

/* page element formatting: commented out old formatting for without bg img */
body {
    /* background-color: #000; */
    /* color: #fff; */
    /* font-family: "Lato", "Arial", sans-serif;
    font-weight: 400;
    font-size: 100%; */
    margin: 0;
    min-height: 100vh;
}
/* makes background fixed and mobile-compatible */
.bg {
    background: url(../media/wefax_20210809_000222_225235000_full.jpg);
    background-position: left top;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    height: 100vh;
    width: 100vw;
}
.foreground {
    position: relative;
    margin: 0;
    padding: 0;
}
/* make content centered */
.wrapper,
.content {
    margin: 0;
    padding: 0;
}
h1 {
    font-weight: 300;
}
h2,
h3,
table {
    font-weight: 400;
}
table {
    text-align: left;
}
:link,
:visited {
    text-decoration: none;
    border-bottom: 1px solid #a0a0a0;
    /* color: #fff; */
}
a:focus,
a:hover {
    border-bottom: none;
    transition: border-bottom 0.5s;
}
iframe {
    border-style: none;
}

/*************************************************/

/* nav formatting */
.nav {
    /* overflow: hidden; */ /* interferes with dropdown sub-menus */
    margin: 0;
    width: vw100;
    /* padding: 0.5rem 2rem; */
    padding: 8px 32px;
    /* background-color: #000; */
    position: relative;
    font-size: 100%;
}
.active,
.navElement {
    /* margin: 0.125rem 0.75rem 0.125rem 0; */
    margin: 2px 12px 2px 0;
}
.active {
    margin-right: auto;
    /* sets highlight size in dropdown layout */
    width: max-content;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropbtn {
    font-size: 100%;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
/* makes svg arrow "transparent" to clicks */
.dropbtn > img {
    fill: #d2dde6;
    pointer-events: none;
}
.dropdown-content {
    background-color: #111318;
    display: none;
    position: static;
    /* z-index: 1; */
    padding: 2px 8px 4px;
    border-radius: 2px;
}
.dropdown-content a {
    color: #d2dde6;
    padding: 12px 8px;
    /* margin: 2px 0; */
    text-decoration: none;
    display: block;
}
.show {
    display: block;
}
.nav a {
    /* color: #fff; */
    /* padding-right: 2rem; */
    padding-right: 32px;
    text-decoration: none;
    display: block;
}
.nav a.icon {
    /* background: #000; */
    display: block;
    position: absolute;
    /* padding: 0.875rem 1rem;
    right: 0.25rem; */
    padding: 14px 16px;
    right: 4px;
    top: 0;
}
.nav #menuLinks {
    display: none;
}
.nav :link,
.dropbtn {
    /* sets highlight size in dropdown layout */
    width: max-content;
    border-bottom: none;
    border-radius: 2px;
    /* highlight size */
    /* padding: 0.25rem 0.5rem; */
    padding: 4px 8px;
}
.dropbtn {
    padding: 4px 10px 4px 8px;
}
/* Handles switching between hamburger menu and regular */
@media screen and (min-width: 56.25rem) {
    /* was 900px */
    .nav #menuLinks {
        display: contents;
    }
    .nav {
        /* padding-right: 2rem; */
        padding-right: 32px;
        position: relative;
        display: flex;
        flex-flow: row wrap;
        justify-content: left;
    }
    .nav a.icon {
        display: none;
    }
    .dropdown-content {
        padding: 8px;
        position: absolute;
    }
}
@media screen and (min-width: 62.5rem) {
    /* was 1000 px */
    .nav {
        /* padding: 0.5rem 8%; */
        padding: 8px 8%;
    }
}
@media screen and (min-width: 80rem) {
    /* was 1280px */
    .nav {
        /* padding: 0.5rem 12%; */
        padding: 8px 12%;
    }
}

/*************************************************/

/* "main" formatting */
#main,
#mainRecent,
#mainMedia,
#mainBlog,
#mainNow,
#mainTagList {
    /* top, sides, bottom */
    /* margin: 0 0.75rem 5%;
    padding: 1rem;
    padding-top: 0.25rem; */
    margin: 0 16px 5%;
    padding: 16px;
    padding-top: 4px;
    border-radius: 5px;
}

#main,
#mainMedia {
    /* ####################### DON'T USE THIS UNLESS NECESSARY ######################## */
    width: fit-content;
    /* margin: auto; */
}

#BGpad {
    margin-top: 5%;
    margin-bottom: 5%;
}

#commentBGPad {
    padding-top: 0;
    /* padding-bottom: 4rem; */
    padding-bottom: 64px;
}

@media screen and (min-width: 480px) {
    #main,
    #mainRecent,
    #mainMedia,
    #mainBlog,
    #mainNow,
    #mainTagList {
        /* margin: 0 1.5rem 5%; 
        padding: 2rem;
        padding-top: 0.75rem; */
        margin: 0 24px 5%;
        padding: 32px;
        padding-top: 12px;
    }
}
@media screen and (min-width: 640px) {
    #main,
    #mainRecent,
    #mainTagList {
        border-radius: 7px;
    }
}
/* @media screen and (min-width: 768px) { */
@media screen and (min-width: 860px) {
    #mainBlog,
    #mainNow {
        max-width: 45rem;
        /* max-width: 720px; */
    }
    #mainTagList {
        max-width: 35rem;
    }
    #main,
    #mainBlog,
    #mainNow,
    #mainTagList {
        margin: auto;
    }
    #BGpad,
    #commentBGPad {
        margin: 5% 32px;
    }
}

@media screen and (min-width: 960px) {
    #mainRecent {
        margin: 0 8% 5%;
    }
}
@media screen and (min-width: 1280px) {
    #mainRecent {
        margin: 0 12% 5%;
    }
}

/*************************************************/

/* Footer */
.wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    /* added because of contact and success pages; */
    /* look here if other pages are broken */
    min-height: 100vh;
}
.content {
    flex-grow: 1;
}
.nav,
footer {
    flex-shrink: 0;
}
footer::before {
    content: "";
    display: block;
    /* padding-top: 1.5rem; */
    padding-top: 24px;
    margin-bottom: 0;
    border-bottom: 1px solid #383a3f;
}
footer {
    /* font-size: 0.85rem; */
    /* padding: 0 2rem; */
    padding: 0 24px 8px;
}
@media screen and (min-width: 960px) {
    footer {
        padding: 0 8% 12px;
        width: 84%;
    }
}
@media screen and (min-width: 1280px) {
    footer {
        padding: 0 12% 12px;
        width: 76%;
    }
}
footer td {
    /* padding: 1em 0.75em 0 0; */
    padding: 14px 10px 0 0;
}
@media screen and (min-width: 400px) {
    footer td {
        /* padding: 1em 1em 0 0; */
        padding: 14px 14px 0 0;
    }
}

@media screen and (min-width: 480px) {
    footer td {
        /* padding: 1em 1.15em 0 0; */
        padding: 14px 16px 0 0;
    }
}

/* base on class when redo social media HTML */
footer > table :link {
    border-bottom: none;
}

.img-badge {
    border: none;
}
.octothorpes-badge {
    margin-top: 16px;
    margin-bottom: 16px;
}
/*************************************************/

/* Homepage */
#myCard {
    /* padding: 0 1rem; */
    padding: 0 16px;
    margin: 25% auto 25%;
    text-align: center;
    /* width: 18rem;
    height: 10rem; */
    width: 288px;
    height: 160px;
    border-width: 2px;
    border-style: solid;
    border-radius: 4px;
}

#myCardName {
    /* font-family: 'Antic Didone', serif; */
    font-size: 26pt;
}
#myCardName a {
    text-decoration: none;
    border-bottom-style: none;
}
#myCardDescription {
    font-size: 14pt;
}
@media screen and (min-width: 640px) {
    #myCard {
        border-radius: 5px;
        margin: 15% auto;
        /* width: 34rem;
        height: 15rem; */
        width: 544px;
        height: 240px;
    }
    #myCardName {
        font-size: 48pt;
    }
    #myCardDescription {
        font-size: 18pt;
    }
}
@media screen and (min-width: 960px) {
    #myCard {
        margin: 12.5% auto;
    }
}

.h-card {
    display: none;
}
/*************************************************/

/* Homepage "recent" section */
#recent {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.gridContainingBlock {
    /* position: relative; */
    width: 100%;
}
.gridVideoWrapper {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
}
.gridVideoWrapper object,
.gridVideoWrapper iframe,
.gridVideoWrapper > lite-youtube > * {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
@media screen and (min-width: 640px) {
    .gridContainingBlock {
        width: 48%;
    }
}

@media screen and (min-width: 480px) {
    .bandcampEmbed {
        margin-bottom: 16px;
    }
}
/*************************************************/

/* Media, projects, supplemental page */
.videoGrid {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.videoGrid .containingBlock {
    /* margin-left: 1rem; */
    /* margin-right: 1rem; */
    width: 100%;
}
.videoList .containingBlock {
    max-width: 560px;
}
.videoWrapper {
    position: relative;
    padding-bottom: 60%;
    height: 0;
}
.videoWrapper object,
.videoWrapper iframe,
.videoWrapper > lite-youtube > * {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
@media screen and (min-width: 640px) {
    .videoGrid .containingBlock {
        width: 45%;
    }
}

/*************************************************/

/* Bio formatting */
.headshot {
    /* margin-right: 1rem;
    margin-bottom: 0.5rem; */
    margin-right: 16px;
    margin-bottom: 8px;
    float: left;
}

@media screen and (min-width: 480px) {
    .headshot {
        /* margin-right: 1.5rem; */
        margin-right: 24px;
    }
}

/* Text Block formatting */
.textBlock {
    max-width: 45rem;
    /* max-width: 720px; */
    line-height: 1.25;
}
@media screen and (min-width: 480px) {
    .textBlock {
        line-height: 1.33;
    }
}
@media screen and (min-width: 640px) {
    .textBlock {
        line-height: 1.6;
    }
}

/* Blog post list formatting */
.blogPostLinks {
    max-width: 45rem;
    /* max-width: 720px; */
    min-width: fit-content;
    line-height: 1.25;
}
/* @media screen and (min-width: 480px) {
    .blogPostLinks {
        line-height: 1.33;
    }
} */
@media screen and (min-width: 760px) {
    .blogPostLinks {
        /* min-width: 30em; */
        min-width: 480px;
        /* line-height: 1.6; */
    }
    /* .commentSection {
        min-width: none;
    } */
}
@media screen and (min-width: 960px) {
    .blogPostLinks {
        /* min-width: 35em; */
        min-width: 560px;
    }
}
img {
    max-width: 100%;
    height: auto;
}
blockquote {
    margin-left: 0;
    color: hsla(208, 15%, 67%, 1); /* hue from aliceblue */
    border-left: 1px solid hsla(208, 15%, 67%, 1);
    padding-left: 12px;
}
@media screen and (min-width: 480px) {
    blockquote {
        margin-left: 12px;
    }
}
.commentSection > form,
.webmention-form > form {
    max-width: 45rem;
    /* max-width: 720px; */
}

#commentDisplay {
    /* margin: 0.5rem; */
    margin: 8px;
}
.comment {
    border-radius: 3px;
    /* padding: 0.25rem 1rem 0.25rem; */
    padding: 4px 16px 4px;
    /* background-color: #303234; */
}

.blogPostLinks > hr,
#workslist > hr,
#main > hr,
#mainNow > hr,
#recent > hr,
.liked-hr {
    width: 100%;
    /* margin: 1.5rem 0; */
    margin: 24px 0;
    border: none;
    border-top: 1px solid #383a3f;
}

/* class name from markdown-it-footnote library */
.footnotes-sep {
    margin: 24px 0 0 0;
    border: none;
    border-top: 1px solid #383a3f;
}

.comment > hr {
    /* margin: 1.25rem 0; */
    margin: 20px 0;
    border: none;
    border-top: 1px solid #565973;
}
@media screen and (min-width: 480px) {
    .blogPostLinks > hr,
    #workslist > hr,
    #main > hr {
        /* margin: 2rem 0; */
        margin: 32px 0;
    }
}
@media screen and (min-width: 640px) {
    .blogPostLinks > hr,
    #workslist > hr,
    #main > hr {
        /* margin: 2.5rem 0; */
        margin: 40px 0;
    }
}
pre {
    white-space: pre-wrap;
}
code {
    border-radius: 3px;
    white-space: pre-wrap;
    word-wrap: break-word;
}

/* .RSSValidation {
    border: 0 !important;
}
.RSSValidation > img {
    margin-top: 24px;
} */

/* list (e.g., "listening to") indentation*/

ul {
    padding-left: 0;
    /* margin-left: 1.5rem; */
    margin-left: 24px;
}

li + li,
li > ul {
    /* margin-top: 0.35rem; */
    margin-top: 6px;
}

#mainBlog > .textBlock > p + p {
    /* margin-top: 0.5rem; */
    margin-top: 8px;
}

.blogPostAsterism {
    font-size: 16pt;
    max-width: fit-content;
    margin: 0 auto;
}
@media screen and (min-width: 480px) {
    #mainBlog > .textBlock > p + p {
        /* margin-top: 1.5rem; */
        margin-top: 24px;
    }
    .blogPostAsterism {
        /* padding: 0.25rem 0 0; */
        /* padding: 4px 0 0; */
    }
}

.post-meta {
    padding-bottom: 24px;
}
.meta-icon {
    position: relative;
    top: 3px;
}
.meta-text {
    margin-left: 3px;
    /* margin-right: 16px; */
}

.post-reactions {
    /* padding-top: 24px; */
    margin: 16px 0;
}
/* https://stackoverflow.com/questions/22672368/how-to-make-a-transparent-html-button */
#react-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    background-repeat: no-repeat;
    padding: 0;
    margin: 0 4px;
}
.heart-react {
    position: relative;
    top: 4px;
    opacity: 0.75;
}
#react-btn:not([disabled]) > .heart-react:hover,
#react-btn:not([disabled]) > .heart-react:focus {
    opacity: 1;
}
#react-btn[disabled] {
    cursor: not-allowed;
}
#react-ctr {
    font-weight: 300;
}
.email-reply {
    margin: 16px 0;
}
.share-openly {
    margin: 16px 0 0 0;
}
.share-openly-icon {
    position: relative;
    top: 4px;
}
/* .share-openly-btn {
    border-radius: 18px;
    border: none;
    padding: 4px 8px;
    margin: 24px 0 0 0;
}
.share-openly-btn > a {
    color: #111318;
    border: none;
    display: inline-flex;
    justify-content: center; 
    align-items: center; 
    padding: 4px;
} */
/*************************************************/

/* Works list formatting */
#categories {
    margin: 0;
    padding: 0;
}
#categories li {
    display: inline;
    padding-right: 0.5rem;
}
#workslist {
    max-width: 45rem;
    /* max-width: 720px; */
}
#workslist th,
#materials th {
    font-weight: 400;
    padding: 0 1rem 0.5rem 0;
}
#workslist td,
#materials td {
    padding: 0 1rem 0.5rem 0;
}

/*************************************************/

/* Contact Form */
/* Makes sizing form elements more consistent */
form {
    box-sizing: border-box;
    /* padding: 0.5rem; */
    max-width: 45rem;
    /* max-width: 720px; */
    padding: 8px;
}
*,
*::after,
*:before {
    box-sizing: inherit;
}
/* cancel out list styles */
fieldset ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* flex list */
fieldset ul li {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0.75em;
}
/* hide border, legend; format label */
fieldset {
    padding: 0;
    margin: 0;
    border: none;
}
legend {
    width: 0;
    height: 1px;
    overflow: hidden;
}
label {
    flex: 0 0 8em;
}

input,
textarea,
fieldset {
    flex: 1 1 30em;
}
input.textinput,
input#webmention-source {
    border: none;
    border-radius: 3px;
    padding: 5px;
    font-family: inherit;
    font-size: 0.875em;
    font-weight: 400;
    /* background-color: #303234; */
    /* color: #fff; */
}
input#webmention-source {
    width: calc(100% - 5.33rem);
}
textarea {
    display: block;
    height: 10em;
    border: none;
    border-radius: 3px;
    padding: 5px;
    font-family: inherit;
    font-size: 0.875em;
    font-weight: 400;
    line-height: 1.25;
    resize: none;
    overflow: auto;
    /* background-color: #303234; */
    /* color: #fff; */
}
input.textinput:focus,
textarea:focus,
input#webmention-source:focus {
    outline-style: solid !important;
    outline-width: 1px !important;
    /* outline: rgba(224, 240, 255, 0.67) solid 1px !important; */
}
input[type="submit"] {
    /* turns off default styling for iOS/Safari, Mozilla, gen. */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /*****/
    font-family: inherit;
    font-size: inherit;
    font-weight: 300;
    border: none;
    border-radius: 3px;
    margin: 0 0 0 auto;
    /* background-color: #383a3f; */
    /* color: #fff; */
    justify-content: center;
}
input[type="submit"]:focus,
input[type="submit"]:hover {
    outline-style: solid !important;
    outline-width: 1px !important;
    /* outline: rgba(224, 240, 255, 0.67) solid 1px ! important; */
    /* background-color: #585a5f; */
}
input[id="webmention-submit"] {
    float: right;
    /* margin: 0 0 0 auto; */
    text-align: center;
    width: 4.75em;
    padding: 0 2px; /* keeps text from moving right on mobile */
    height: 1.75em;
}
input[id="send-email"] {
    display: flex;
    flex: 0 0 3.5em;
    height: 1.75em;
}
input[id="submit-comment"] {
    display: flex;
    flex: 0 0 4.5em;
    height: 1.75em;
}
input[id="load-comments"] {
    width: 7.75em;
    height: 1.75em;
}
/*
input[type="submit"]:active {
    outline: rgba(224, 240, 255, 0.67) inset 1px ! important;
}
*/
