/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

@font-face {
    font-family: "Arimo";
    src: local("Arimo"),
        url("https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap");
    font-display: swap;
}
@font-face {
    font-family: "Open Sans";
    src: local("Open Sans"),
        url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
    font-display: swap;
}

/* http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice */
/* Avoid using max- and min- widths and heights with the border-box model. They are known to cause browser problems. */
/* html {box-sizing: border-box;}
*, *:before, *:after {box-sizing: inherit;} */

:root {
    font-family: "Arimo", sans-serif;
    /* font-family: "Open Sans", sans-serif; */
    font-weight: 400;

    /* color variables */
    --bg-dark: #111318;
    --bg-dark-highlight: #181720;
    --fg-light: #d2dde6;
    --accent-light: #e09cc9;
    --accent-med-light: #c387af;
    --accent-med: #a66a94;
    --accent-dark: #4d1d3e;

    /* size variables */
    --global-margin: 16px;
    --main-width: 50rem;
    --article-width: 45rem;
}

/* ######## colors, sizes ######## */
body {
    background-color: var(--bg-dark);
    color: var(--fg-light);
    & a {
        color: inherit;
    }
}

header {
    background-color: var(--bg-dark);
    margin-top: 16px;
    margin-left: var(--global-margin);
    margin-right: var(--global-margin);
    & hr {
        border: none;
        border-bottom: 1px solid var(--accent-med-light);
    }
}

main {
    /* background-color: var(--bg-dark-highlight); */
    margin-left: var(--global-margin);
    margin-right: var(--global-margin);
    & hr {
        border: none;
        border-bottom: 1px solid var(--accent-med-light);
    }
}

footer {
    background-color: var(--bg-dark);
    margin-left: var(--global-margin);
    margin-right: var(--global-margin);
    margin-bottom: 32px;
    & td {
        padding: 14px 10px 0 0;
    }
}

footer::before {
    content: "";
    display: block;
    /* padding-top: 1.5rem; */
    padding-top: 24px;
    margin-bottom: 0;
    border-bottom: 1px solid var(--accent-med-light);
}

@media screen and (min-width: 960px) {
    :root {
        --global-margin: 8%;
    }

    header {
        margin-top: 32px;
    }
}
@media screen and (min-width: 1280px) {
    :root {
        --global-margin: 12%;
    }
}

/* ######## name card ######## */
#cardName {
    background-color: var(--accent-med-light);
    color: var(--bg-dark);
    & a {
        color: inherit;
    }
}

/* header */
/* header {
    display: flex;
} */

/* ######## myCard ######## */
#cardContainer {
    display: grid;
    grid-template-rows: 14px;
    grid-template-columns: 18px;
    /* margin-top: 8px; */
    margin-bottom: 8px;
}
#cardImg,
#cardName {
    width: 295px;
    height: 85px;
}
#cardImg {
    border-radius: 4px;
    grid-area: 1 / 1;
    /* background-image: "/media/map_duochrome_1000x1250_1.png"; */
    background: url("/media/map_duochrome_1775x425_1.png");
}
#cardName {
    box-sizing: border-box;
    marks: none;
    padding: 2px 0 2px 6px;
    border-radius: 4px;
    grid-area: 2 / 2;
}

/* ######## nav menu ######## */
.icon-svg {
    vertical-align: -0.125em;
}

nav {
    /* overflow: hidden; */ /* interferes with dropdown sub-menus */
    margin: 0;
    /* width: vw100; */
    padding: 8px 16px;
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: left;

    & #menuLinks {
        /* display: none; */
        display: flex;
        flex-flow: row wrap;
        justify-content: left;
    }

    & a,
    .dropdown-content a {
        padding: 4px 4px;
        display: block;
        width: max-content;
    }

    & .dropbtn {
        padding: 4px 8px;
    }

    & input[type="checkbox"] {
        display: none;
    }

    & .navElement {
        /* margin: 2px 12px 2px 0; */
        margin-right: 24px;
    }

    & .active {
        margin-right: auto;
        /* sets highlight size in dropdown layout */
        width: max-content;
    }

    & .dropdown {
        /* padding: 4px 0; */
        text-decoration: underline;
        /* position: relative;
        display: inline-block; */
    }

    & .dropbtn > img {
        fill: var(--fg-light);
        pointer-events: none;
    }
}

.dropdown-content {
    background-color: var(--bg-dark);
    /* display: none; */
    display: block;
    position: static;
    /* z-index: 1; */
    padding: 4px 8px 0;
    border-radius: 2px;
}

input[type="checkbox"]:not(:checked) ~ #about-dropdown-content {
    display: none;
}
input[type="checkbox"]:not(:checked) ~ #music-dropdown-content {
    display: none;
}
input[type="checkbox"]:not(:checked) ~ #blog-dropdown-content {
    display: none;
}

/* ######## content ######## */
main {
    margin-top: 64px;
    margin-bottom: 32px;
    /* padding: 24px 32px 32px;
    margin: 32px;
    max-width: var(--main-width); */
}
article {
    /* max-width: var(--article-width); */
}

blockquote {
    margin-left: 0;
    color: hsla(208, 15%, 67%, 1); /* hue from aliceblue */
    border-left: 1px solid hsla(208, 15%, 67%, 1);
    padding-left: 12px;
}
@media screen and (min-width: 480px) {
    blockquote {
        margin-left: 12px;
    }
}

article p {
    line-height: 1.5;
}
