/* fonts */

@font-face {
    font-family: "Born2bSportyV2";
    src:
        url("/styles/fonts/born2bsportyv2/born2bsportyv2-webfont.woff2")
            format("woff2"),
        url("/styles/fonts/born2bsportyv2/born2bsportyv2-webfont.woff")
            format("woff");
    font-display: swap;
}

@font-face {
    font-family: "Open Sans";
    src:
        url("/styles/fonts/opensans/opensans-variablefont_wdthwght-webfont.woff2")
            format("woff2"),
        url("/styles/fonts/opensans/opensans-variablefont_wdthwght-webfont.woff")
            format("woff");
    font-display: swap;
}
@font-face {
    font-family: "Open Sans";
    src:
        url("/styles/fonts/opensans/opensans-italic-variablefont_wdthwght-webfont.woff2")
            format("woff2"),
        url("/styles/fonts/opensans/opensans-italic-variablefont_wdthwght-webfont.woff")
            format("woff");
    font-style: italic;
    font-display: swap;
}

/* @font-face {
    font-family: "Proza Libre";
    src:
        url("/styles/fonts/prozalibre/prozalibre-regular-webfont.woff2")
            format("woff2"),
        url("/styles/fonts/prozalibre/prozalibre-regular-webfont.woff")
            format("woff");
    font-weight: 400;
    font-display: swap;
}
@font-face {
    font-family: "Proza Libre";
    src:
        url("/styles/fonts/prozalibre/prozalibre-italic-webfont.woff2")
            format("woff2"),
        url("/styles/fonts/prozalibre/prozalibre-italic-webfont.woff")
            format("woff");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
} */

/* http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice */
/* Avoid using max- and min- widths and heights with the border-box model. They are known to cause browser problems. */
/* html {box-sizing: border-box;}
*, *:before, *:after {box-sizing: inherit;} */

:root {
    /* font-family: "Alegreya Sans", sans-serif; */
    font-family: "Open Sans", sans-serif;
    /* font-family: "Proza Libre", sans-serif; */
    font-weight: 400;

    /* color variables */
    /* --bg-dark: #111318; */
    /* --bg-dark: #181920; */
    /* --bg-dark: #191a22; */
    --bg-dark: hsl(243deg 16% 14%);
    --bg-dark-highlight: #181720;
    --fg-light: #d2dde6;
    --accent-light: #e09cc9;
    --accent-med-light: #c387af;
    --accent-med: #a66a94;
    --accent-dark: #4d1d3e;
    /* --accent-light: #e09cc9;
    --accent-med-light: #c387af;
    --accent-med: #565973;
    --accent-dark: #363847; */

    /* size variables */
    --global-margin: 16px;
    --main-width: 50rem;
    --article-width: 45rem;
    --p-line-height: 1.5;
}

/* p,
ul li,
blockquote,
table {
    font-size: 1.05em;
} */

@media screen and (min-width: 768px) {
    :root {
        --global-margin: 4%;
    }

    header {
        margin-top: 32px;
    }
}

@media screen and (min-width: 940px) {
    :root {
        --global-margin: 5%;
    }

    header {
        margin-top: 32px;
    }
}
@media screen and (min-width: 1280px) {
    :root {
        --global-margin: 10%;
    }
}

header,
h1,
h2,
h3,
h4,
h5,
h6,
footer {
    font-family: "Born2bSportyV2", sans-serif;
}
header {
    font-size: 1.625em;
    & .dropdown-content {
        font-size: 0.95em;
    }
}
h2 {
    font-size: 1.75em;
}
h3 {
    font-size: 1.375em;
}
h4 {
    font-size: 1.125em;
}
footer {
    font-size: 1.25em;
}
/* #cardName {
    font-family: "Born2bSportyV2", sans-serif;
    font-size: 24px;
} */

/* ######## colors, sizes ######## */
body {
    background-color: var(--bg-dark);
    color: var(--fg-light);
    & a {
        color: inherit;
    }
}

header {
    background-color: var(--bg-dark);
    margin-top: 16px;
    margin-left: var(--global-margin);
    margin-right: var(--global-margin);
    padding-bottom: 8px;
    border-bottom: 6px solid var(--accent-med-light);
}

main {
    /* background-color: var(--bg-dark-highlight); */
    margin-top: 32px;
    margin-bottom: 32px;
    margin-left: var(--global-margin);
    margin-right: var(--global-margin);
    & hr {
        border: none;
        border-bottom: 1px solid var(--accent-med-light);
    }
}
@media screen and (min-width: 660px) {
    main {
        margin-top: 64px;
    }
}

footer {
    background-color: var(--bg-dark);
    /* background-color: var(--accent-dark); */
    color: var(--fg-light);
    /* padding: 20px 20px; */
    /* border-radius: 4px; */
    border-top: 6px solid var(--accent-med-light);
    margin-left: var(--global-margin);
    margin-right: var(--global-margin);
    margin-bottom: 32px;
    & table {
        margin-top: 16px;
    }
    & td {
        padding: 0 14px 0 0;
    }
}
.octothorpes-badge {
    width: fit-content;
}

a,
a:hover,
a:focus,
a:active {
    color: inherit !important;
}
/* footer::before {
    content: "";
    display: block;
    margin-top: 24px;
    margin-bottom: 0;
    border-bottom: 1px solid var(--accent-med-light);
} */

/* ######## myCard ######## */
/* #cardContainer {
    display: inline-flex;
    flex-flow: row;
} */
#cardImg {
    display: inline-flex;
    flex-flow: row wrap;
    & a {
        text-decoration: none !important;
        border-bottom-style: none !important;
    }
    & a img {
        padding-right: 18px;
        /* width: 64px; */
    }
}
#floppy-disk {
    vertical-align: 1px;
}

/* #cardContainer {
    display: grid;
    grid-template-rows: 14px auto 14px;
    grid-template-columns: 18px auto 18px;
    margin-bottom: 24px;
    width: fit-content;
}
#cardImg {
    border-radius: 4px;
    grid-area: 1 / 1 / 3 / 3;
    background: url("/media/map_duochrome_1775x425_1.png");
}
#cardName {
    background-color: var(--accent-dark);
    color: var(--fg-light);
    & a {
        color: inherit;
    }
    box-sizing: border-box;
    marks: none;
    padding: 2px 24px 2px 24px;
    border-radius: 4px;
    grid-area: 2 / 2 / 4 / 4;
} */

/* ######## nav menu ######## */
/* -0.125em was required for old svg */
/* .icon-svg {
    vertical-align: -2px;
} */

nav {
    /* overflow: hidden; */ /* interferes with dropdown sub-menus */
    margin: 16px 0 16px;
    /* width: vw100; */
    position: relative;
    display: grid;
    grid-template: 1em / auto auto;
    /* display: flex;
    justify-content: space-between; */
    /* display: flex;
    flex-flow: row wrap;
    justify-content: left; */
    /* flex-wrap: wrap; */
    /* flex-direction: row-reverse; */

    /* #hamburgerWrapper {
        display: flex;
        flex-flow: row wrap;
        justify-content: right;
    } */
    & a {
        display: block;
    }
    .navIcon {
        /* keeps on right side of screen */
        margin-left: auto;
        /* position: absolute !important;
        right: 0 !important; */
        /* helps on iOS safari? https://stackoverflow.com/questions/14023677/absolute-positioning-messed-up-in-safari */
        /* left: auto; */
        /* top: 0;
        bottom: 0; */
    }

    & #menuLinks {
        margin: 8px 0;
        /* display: none; */
        /* display: flex;
        flex-flow: row wrap;
        justify-content: left; */
    }

    & .navElement {
        /* margin: 2px 12px 2px 0; */
        /* margin-left: 36px; */
        padding-bottom: 8px;
    }

    /* & a, */
    & .dropdown-content a {
        padding: 6px 4px;
        display: block;
        width: max-content;
        /* makes menu items pile on single line */
        /* position: absolute; */
    }

    & input[type="checkbox"] {
        /* appearance: none;
        display: none;
        visibility: hidden; */
        /* iOS Safari workaround */
        /* --webkit-appearance: none; */
        /* position: absolute;
        height: 0;
        width: 0; */
    }

    & .active {
        margin-right: auto;
        /* sets highlight size in dropdown layout */
        width: max-content;
    }

    & .dropdown {
        /* padding: 4px 0; */
        text-decoration: underline;
        position: relative;
        display: inline-block;
    }

    & .dropdown-content {
        /* adds margins when in hamburger mode */
        margin: 8px 0;
    }

    & .dropbtn > img {
        fill: var(--fg-light);
        pointer-events: none;
    }
}

input[type="checkbox"] {
    appearance: none !important;
    --webkit-appearance: none !important;
    display: none !important;
    visibility: hidden !important;
}

.dropdown-content {
    background-color: var(--bg-dark);
    /* display: none; */
    display: block;
    /* z-index: 1; */
}

input[type="checkbox"]:not(:checked) ~ #about-dropdown-content {
    display: none;
}
input[type="checkbox"]:not(:checked) ~ #music-dropdown-content {
    display: none;
}
input[type="checkbox"]:not(:checked) ~ #blog-dropdown-content {
    display: none;
}

#menuLinks {
    /* hamburger menu shown unless box not checked */
    display: block;
}

/* toggles hamburger menu on/off */
/* only apply toggle logic if screen is right size */
@media screen and (max-width: 924px) {
    /* hamburger menu contents hidden if box not checked */
    input[type="checkbox"]:not(:checked) ~ #menuLinks {
        display: none;
    }
    /* input[id="menu"]:not(:checked) {
        #menuLinks {
            display: none;
        }
    } */
}

/* Handles switching between hamburger menu and regular */
@media screen and (min-width: 925px) {
    header {
        padding-bottom: 0;
    }
    nav {
        position: relative;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;

        & .navIcon {
            display: none;
        }

        & .navElement {
            margin-left: 36px;
        }

        /* & .navElementHome {
            margin-right: auto;
        } */

        & #menuLinks {
            margin: 0;
            display: flex;
            flex-flow: row wrap;
            justify-content: right;
        }

        & .dropdown-content {
            position: absolute; /* ensures dropdown content doesn't shift other elements; was originally position: static; */
            padding: 12px 12px;
            /* margin: 36px 0 0 0; */
            border: 1px solid var(--accent-med-light);
            border-radius: 2px;
            box-shadow: 1px 1px 1px 1px var(--bg-dark);
        }
    }
}

/* types of page content */
blockquote {
    margin-left: 0;
    color: hsla(208, 15%, 67%, 1); /* hue from aliceblue */
    border-left: 1px solid hsla(208, 15%, 67%, 1);
    padding-left: 12px;
}
@media screen and (min-width: 480px) {
    blockquote {
        margin-left: 12px;
    }
}

article {
    margin: 48px 0;
}
section {
    margin: 48px 0;
}
@media screen and (min-width: 660px) {
    article {
        margin: 64px 0;
    }
}

article,
section {
    & p,
    ul li {
        line-height: var(--p-line-height);
    }
}

section {
    margin-top: 48px;
    margin-bottom: 48px;
}

.sectionHeader {
    width: fit-content;
    padding-bottom: 8px;
    border-bottom: 1px solid var(--accent-med-light);
}

.dinkus {
    display: flex;
    justify-content: center;
    letter-spacing: 4px;
}

/* define global behavior for certain types of content */
img {
    max-width: 100%;
    height: auto; /* allows specifying explicit height/width, while still shrinking with page */
}

pre,
code {
    white-space: pre-wrap;
    word-wrap: break-word;
}
lite-youtube {
    max-width: 560px; /* also in videogrid.css on container */
    max-height: auto;
    aspect-ratio: 16/9 auto;
}
