/* ######## microformats ######## */
.h-card {
    display: none;
}

main {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

#featured {
    max-width: 32rem;
}
#recent {
    max-width: 24rem;
}

#featured article {
    margin-top: 48px;
    margin-bottom: 48px;
    & h3 {
        margin-bottom: 40px;
    }
}

#recentContainer {
    display: grid;
    grid-template-rows: 20px;
    grid-template-columns: 20px;
    /* margin-top: 8px; */
    margin-bottom: 8px;
}
#recentImg {
    border-radius: 8px;
    grid-area: 1 / 1;
    background: url("/media/map_duochrome_1775x425_1.png");
    width: 360px;
    height: 615px;
}
#recentItems {
    padding: 16px 20px;
    border: 1px solid var(--accent-med-light);
    border-radius: 8px;
    grid-area: 2 / 2;
    background-color: var(--bg-dark);
}

.dinkus {
    display: flex;
    justify-content: center;
    letter-spacing: 4px;
}

.gridVideoWrapper {
    max-width: 512px;
}

article img {
    margin-top: 24px;
    max-width: 100%;
}
