/* ######## microformats ######## */
.h-card {
    display: none;
}

#featured {
    /* max-width: var(--article-width); /* defined in global */
    max-width: 32rem; /* defined in global */
}

#featuredHeader,
#recentHeader {
    width: fit-content;
    padding-bottom: 8px;
    margin-bottom: 64px;
    border-bottom: 1px solid var(--accent-med-light);
}

#featured article {
    margin-top: 48px;
    margin-bottom: 48px;
    & h3 {
        margin-bottom: 40px;
    }
}

.gridVideoWrapper {
    max-width: 512px;
}

img {
    margin-top: 24px;
    max-width: 100%;
}
