.e-content img {
    border-radius: 8px;
    &:not(figure *) {
        margin-top: 16px;
    }
}

.img-vertical {
    max-width: 520px;
}
@media screen and (max-width: 565px) {
    .img-vertical {
        max-width: 100%;
    }
}