main {
    /* display: flex;
    align-items: center;
    justify-content: center; */
    /* display: grid;
    place-self: center; */
    max-width: 45rem;
}

article {
    margin-top: 32px;
    margin-bottom: 32px;
}
