/* @font-face {
    font-family: "Proza Libre";
    src:
        url("/styles/fonts/prozalibre/prozalibre-regular-webfont.woff2")
            format("woff2");
    font-weight: 400;
    font-display: swap;
}
@font-face {
    font-family: "Proza Libre";
    src:
        url("/styles/fonts/prozalibre/prozalibre-italic-webfont.woff2")
            format("woff2");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
} */

/* http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice */
/* Avoid using max- and min- widths and heights with the border-box model. They are known to cause browser problems. */
/* html {box-sizing: border-box;}
*, *:before, *:after {box-sizing: inherit;} */

:root {
    /* color variables */
    /* --bg-dark: #111318; */
    /* --bg-dark: #181920; */
    /* --bg-dark: #191a22; */
    /* --fg-light: #d2dde6; */

    /* --bg-dark: hsl(243deg 16% 14%);
    --fg-light: #d2dde6;
    --fg-med-light: hsla(208, 15%, 67%, 1); */

    /* --accent-light: #e09cc9;
    --accent-med-light: #c387af; */
    /* --accent-med: #a66a94; */
    
    /* --accent-light: #e09cc9;
    --accent-med-light: #c387af;
    --accent-med: #565973;
    --accent-dark: #363847; */
}

/* p,
ul li,
ol li,
blockquote,
table {
    font-size: 1.05em;
} */

/* footer {
    font-size: 1.25em;
} */


/* input[type="checkbox"] {
    appearance: none !important;
    --webkit-appearance: none !important;
    display: none !important;
    visibility: hidden !important;
} */


/* input[type="checkbox"]:not(:checked) ~ #about-dropdown-content {
    display: none;
}
input[type="checkbox"]:not(:checked) ~ #music-dropdown-content {
    display: none;
}
input[type="checkbox"]:not(:checked) ~ #blog-dropdown-content {
    display: none;
} */

/* hamburger menu shown unless box not checked */
/* #menuLinks {
    display: block;
} */

/* aside {
    font-style: italic;
    margin-left: 24px;
} */

@media screen and (max-width: 59.9999em) {
    /* .navIcon:focus, 
    .navIcon:focus-within {
        + #menuLinks {
            display: block;
        }
    }
    #menuLinks:focus,
    #menuLinks:focus-within {
        display: block;
    } */
}

@media screen and (min-width: 60em) {
    nav {
        /* don't need this now that it's using grid */
        /* position: relative;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between; */
    }
}